.about-service {
  padding-top: 72px;
  padding-bottom: 20px;
  background-color: $blue-dark-main;
}

.about-service__title {
  margin-bottom: 19px;
}

.about-service__text {
  margin-bottom: 20px;
  color: $white-basic;
  font-weight: 300;

  &--bold {
    margin: 0;
    font-weight: 700;
  }
}
