.accept-checkbox {
  position: relative;
}

.accept-checkbox__text {
  font-size: 15px;
  line-height: 15px;
  padding-left: 40px;
}

@media (min-width: $tablet-width) {
  .accept-checkbox__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    padding-left: 59px;
  }
}

@media (min-width: $desktop-width) {
  .accept-checkbox {
    padding-top: 56px;
  }
}
