.add-plan {
  @include section-top-border;
  margin-top: -29px;
  padding-top: 27px;
  padding-bottom: 72px;
  background-color: $grey-darken-form;
}

.add-plan__container {
  position: relative;
}

.add-plan__title {
  margin-bottom: 29px;
  color: $blue-light-text;
}

@media (min-width: $tablet-width) {
  .add-plan {
    margin-top: -42px;
    padding-top: 53px;
    padding-bottom: 123px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
  }

  .add-plan__container {
    padding: 0 75px;
  }

  .add-plan__title {
    margin-bottom: 58px;
    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: $desktop-width) {
  .add-plan {
    margin-top: -42px;
    padding-top: 109px;
    padding-bottom: 130px;
  }

  .add-plan__title {
    margin-top: -57px;
    margin-left: 70px;
  }

  .add-plan__container {
    padding: 0 60px;
  }
}
