.alphabet {
  border-collapse: collapse;
  table-layout: fixed;
}

.alphabet__table-cell {
  padding: 11px 10px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  &--chosen {
    background-color: $grey-basic;
  }

  &--chosen-second {
    color: $white-basic;
    background-color: $blue-light-text;
    border: 1px solid $blue-light-text;
  }
}

.alphabet__list {
  display: none;
}

@media (min-width: $tablet-width) {
  .alphabet__table-cell {
    padding: 27px 21px;
    font-size: 20px;
    line-height: 20px;

    &--chosen {
      color: $white-basic;
      background-color: $blue-light-text;
    }
  }
}

@media (min-width: $desktop-width) {
  .alphabet {
    border-collapse: separate;
    border-spacing: 15px;
  }

  .alphabet__list {
    @include list-reset;
    display: block;
    margin-bottom: auto;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: $grey-special;
  }

  .alphabet__table-row {
    display: flex;
    flex-wrap: wrap;
  }

  .alphabet__table-cell {
    padding: 24px 23px;
    text-align: left;
    width: 20%;

    &--chosen-second {
      color: $blue-light-text;
      background-color: transparent;
      border: none;
    }

    span {
      display: block;
      margin-bottom: 30px;
      font-size: 60px;
      line-height: 60px;
      font-weight: 700;
    }
  }
}
