.alphabet {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  &--catalog {
    width: 220px;
    margin-left: 25px;
  }
}

.alphabet__table-cell {
  padding: 11px 10px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  border: 1px solid $grey-border;
  cursor: pointer;

  a {
    color: $blue-light-text;
  }

  &--catalog {
    background-color: $white-basic;
    border: 1px solid $grey-border;
  }

  &--chosen {
    background-color: $grey-basic;
  }

  &--chosen-second {
    color: $white-basic;
    background-color: $blue-light-text;
    border: 1px solid $blue-light-text;
  }

  &:not(.alphabet__table-cell--catalog):hover,
  &:not(.alphabet__table-cell--catalog):focus {
    border: 1px solid $grey-input-hover;
  }

  &:active {
    background-color: $grey-basic;
  }
}

.alphabet__list {
  display: none;
}

@media (min-width: $tablet-width) {
  .alphabet {
    width: 346px;

    &--catalog {
      margin-left: 0;
      margin-right: auto;
      margin-top: 63px;
      margin-bottom: 43px;
      width: 389px;
    }
  }

  .alphabet__table-cell {
    padding-top: 22px;
    padding-bottom: 27px;
    font-size: 20px;
    line-height: 20px;

    &--catalog {
      padding: 0;
      padding-bottom: 22px;
      font-size: 60px;
      line-height: 60px;
      font-weight: 700;
      text-align: left;
      color: rgba($blue-dark-main, 0.3);
      background-color: transparent;
      border: none;

      span {
        &:hover,
        &:focus,
        &:active {
          color: $blue-dark-main;
        }
      }
    }

    &--chosen {
      background-color: $blue-light-text;

      a {
        color: $white-basic;
      }
    }

    &--chosen-second {
      color: $blue-dark-main;
    }

    &:not(.alphabet__table-cell--catalog):active {
      background-color: $blue-light-text;
      border: 1px solid $blue-light-text;

      a {
        color: $white-basic;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .alphabet {
    border-collapse: separate;
    border-spacing: 15px;

    &--catalog {
      width: 100%;
      margin-right: 0;
      border-collapse: collapse;
      margin-bottom: 16px;

      .alphabet__table-row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 27px;

        &:nth-child(3) {
          margin-bottom: 64px;
        }
      }

      .alphabet__table-cell {
        width: calc(20% - 13px);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 37px;
        padding-right: 10px;
      }
    }
  }

  .alphabet__list {
    @include list-reset;
    display: block;
    margin-bottom: auto;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: $grey-special;
  }

  .alphabet__table-cell {
    padding: 24px 23px;
    text-align: left;
    width: 20%;
    border-radius: 4px;

    &--chosen-second {
      color: $blue-light-text;
      background-color: transparent;
      border: none;
    }

    span {
      display: block;
      margin-bottom: 32px;
      font-size: 60px;
      line-height: 60px;
      font-weight: 700;
    }
  }

  .alphabet__link {
    font-size: 20px;
    line-height: 30px;
    color: $grey-special;

    &:hover,
    &:focus {
      color: $blue-light-text;
    }

    &:active {
      color: rgba($blue-light-text, 0.3);
    }
  }
}
