.alphabet {
  border-collapse: collapse;
  table-layout: fixed;
}

.alphabet__table-cell {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding: 11px 10px;
  border: 1px solid $grey-border;
  box-sizing: border-box;

  &--chosen {
    background-color: $grey-basic;
  }

  &--chosen-second {
    color: $white-basic;
    background-color: $blue-light-text;
    border: 1px solid $blue-light-text;
  }
}

@media (min-width: $tablet-width) {
  .alphabet__table-cell {
    padding: 27px 21px;
    font-size: 20px;
    line-height: 20px;

    &--chosen {
      color: $white-basic;
      background-color: $blue-light-text;
    }
  }
}

@media (min-width: $desktop-width) {
  .alphabet {
    border-collapse: separate;
    border-spacing: 15px;
  }

  .alphabet__table-cell {
    padding: 24px 23px;
  }
}
