.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border-style: none;
  border-radius: 0;
  cursor: pointer;

  &--primary {
    color: $blue-light-text;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    justify-content: flex-start;
    padding: 22px;
    background-color: $yellow-main;
    border-radius: 10px;

    @media (min-width: $tablet-width) {
      font-size: 24px;
      line-height: 24px;
      padding: 29px 74px 27px 33px;
    }
  }

  &--secondary {
    padding: 5px 10px;
    width: 100%;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: $blue-light-text;
    background-color: $yellow-main;
    border-radius: 25px;
  }

  &--opacity {
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: $blue-light-text;
  }
}
