.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border-style: none;
  border-radius: 0;
  cursor: pointer;

  &--primary {
    padding: 22px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: $blue-decor-items;
    background-color: $yellow-main;
    border-radius: 10px;
  }

  &--secondary {
    padding: 5px 10px;
    width: 100%;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: $blue-light-text;
    background-color: $yellow-main;
    border-radius: 25px;
  }

  &--opacity {
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: $blue-light-text;
  }
}
