.calendar__date {
  position: relative;
  padding: 11px 62px;
  text-align: center;
  border-top: 1px solid $grey-calendar;
  border-bottom: 1px solid $grey-calendar;
}

.calendar__control {
  position: absolute;
  width: 15px;
  height: 21px;
  background-image: url("../../img/arrow-back-icon-mobile.svg");
  background-position: center center;
  background-repeat: no-repeat;

  &--back {
    left: 0;
  }

  &--forward {
    right: 0;
    transform: rotate(-180deg);
  }
}

.calendar__table {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.calendar__table-head {
  width: 14%;
  font-weight: 400;
  text-align: center;
  color: $grey-special;

  &:nth-last-child(-n+2) {
    color: $orange-cell;
  }
}

.calendar__title {
  &--desktop {
    display: none;
  }
}

.calendar__cell {
  position: relative;
  margin: 0;
  padding: 7px 8px;
  border: 1px solid $grey-calendar;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  &--disabled {
    color: rgba($grey-special, 0.3);
  }

  &--chosen {
    font-weight: 500;
    color: $white-basic;
    background-color: $blue-light-text;
  }

  &--enabled {
    font-weight: 500;
    background-color: $grey-basic;
  }

  &:hover::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    border: 2px solid $orange-cell;
    z-index: 1;
  }
}

.calendar__first-day,
.calendar__day-in,
.calendar__day-out {
  display: none;
}


@media (min-width: $tablet-width) {
  .calendar__date {
    margin-bottom: 39px;
    padding: 27px 62px 23px 62px;
    font-size: 36px;
    line-height: 36px;
  }

  .calendar__control {
    width: 30px;
    height: 36px;
    background-image: url("../../img/arrow-back-icon-tablet.svg");
  }

  .calendar__title {
    &--mobile {
      display: none;
    }

    &--desktop {
      display: inline;
    }
  }

  .calendar__table-head {
    padding: 0 0 7px 0;
  }

  .calendar__cell {
    padding: 25px 15px;
    font-size: 20px;
    line-height: 20px;

    &--disabled {
      font-size: 18px;
      line-height: 18px;
    }

    &:hover::before {
      top: -2px;
      left: -2px;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      border: 4px solid $orange-cell;
    }
  }
}

@media (min-width: $desktop-width) {
  .calendar__date {
    margin-bottom: 18px;
  }

  .calendar__table-head {
    padding-bottom: 19px;
  }

  .calendar__cell {
    padding: 15px;
    height: 72px;
    text-align: left;
    vertical-align: top;

    &--chosen {
      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
    }

    &--enabled {
      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
    }
  }

  .calendar__first-day {
    display: inline;
    margin-left: 8px;
  }

  .calendar__day-in,
  .calendar__day-out {
    display: block;
    margin-top: 9px;
  }
}
