.companion-filter {
  background-color: $grey-basic;
  padding-top: 76px;
  padding-bottom: 28px;
}

.companion-filter__body {
  background-color: $yellow-main;
  border-radius: 20px;
  padding: 26px 25px 22px 25px;
}

.companion-filter__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 23px;
}

.companion-filter__item {
  padding-top: 12px;
  padding-bottom: 14px;
  border-top: 1px solid $yellow-dark-border;
}

.companion-filter__heading {
  margin: 0;
  margin-bottom: 17px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.companion-filter__button {
  color: $blue-dark-basic;
  background-color: $white-basic;
  line-height: 17px;
  min-width: 230px;
}
