.companion-filter {
  padding-top: 21px;
  padding-bottom: 28px;
  background-color: $grey-basic;
}

.companion-filter__body {
  padding: 26px 20px 22px 20px;
  background-color: $yellow-main;
  border-radius: 20px;
}

.companion-filter__wrapper {
  margin-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

.companion-filter__title {
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
}

.companion-filter__item {
  padding-top: 12px;
  padding-bottom: 14px;
  border-top: 1px solid $yellow-dark-border;
}

.companion-filter__heading {
  position: relative;
  margin: 0;
  margin-bottom: 17px;
  padding-right: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 10px;
    height: 6px;
    background-image: url("../../img/dropdown.svg");
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(-50%);
  }
}

.companion-filter__button {
  width: 100%;
  padding: 14px 20px 15px;
  color: $blue-dark-basic;
  background-color: $white-basic;
  line-height: 17px;
}

@media (min-width: $tablet-width) {
  .companion-filter__body {
    padding: 37px 36px 37px 35px;
  }

  .companion-filter__wrapper {
    margin-bottom: 0;
    padding: 0;
  }

  .companion-filter__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .companion-filter__title {
    font-size: 30px;
    line-height: 30px;
  }

  .companion-filter__list {
    width: 80%;
  }

  .companion-filter__heading {
    font-size: 20px;
    line-height: 20px;
    width: 20%;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .companion-filter {
    width: 285px;
    padding: 0;
  }

  .companion-filter__container {
    width: auto;
    padding: 0;
    margin: 0;
  }

  .companion-filter__body {
    width: 285px;
    padding: 46px 45px 48px 48px;
  }

  .companion-filter__item {
    display: block;
  }

  .companion-filter__list {
    width: auto;
  }

  .companion-filter__heading {
    margin-bottom: 27px;
    width: auto;
  }
}
