.companion-filter {
  margin-bottom: 28px;
  padding-top: 21px;
  background-color: $grey-basic;
}

.companion-filter__body {
  padding: 26px 20px 22px 20px;
  background-color: $yellow-main;
  border-radius: 20px;
}

.companion-filter__wrapper {
  margin-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.companion-filter__title {
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

.companion-filter__item {
  padding-top: 12px;
  padding-bottom: 9px;
  border-top: 1px solid $yellow-dark-border;

  &--hidden {
    .companion-filter__heading {
      margin-bottom: 0;

      &::after {
        transform: rotate(0deg);
      }
    }

    .companion-filter__list {
      display: none;
    }
  }
}

.companion-filter__heading {
  position: relative;
  margin: 0;
  margin-bottom: 13px;
  padding-right: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 0;
    width: 10px;
    height: 6px;
    background-image: url("../../img/dropdown.svg");
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(-50%) rotate(180deg);
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.companion-filter__level-range {
  margin-bottom: 24px;
}

.companion-filter__button {
  width: 100%;
  padding: 14px 20px 12px;
  color: $blue-dark-basic;
  background-color: $white-basic;
  line-height: 17px;

  &:hover,
  &:focus {
    box-shadow: 0 3px 6px rgba($black-basic, 0.14);
  }

  &:active {
    background-color: $yellow-dark-border;
    color: rgba($blue-dark-basic, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .companion-filter {
    margin-bottom: 41px;
    padding-top: 41px;
  }

  .companion-filter__body {
    padding: 35px 36px 37px 35px;
  }

  .companion-filter__wrapper {
    margin-bottom: 33px;
    padding: 0;
  }

  .companion-filter__item {
    display: flex;
    flex-wrap: wrap;
    border: none;
    padding-top: 0;
    padding-bottom: 14px;

    &:nth-child(2) {
      padding-top: 30px;
      border-top: 1px solid $yellow-dark-border;
    }

    &:nth-child(5) {
      .companion-filter__heading {
        padding-top: 23px;
      }
    }

    &:nth-child(6) {
      align-items: center;
      padding-bottom: 41px;
      border-bottom: 1px solid $yellow-dark-border;

      .companion-filter__heading {
        padding-top: 12px;
      }
    }

    &--hidden {
      .companion-filter__list {
        display: flex;
      }
    }
  }

  .companion-filter__title {
    margin-bottom: 39px;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0;
  }

  .companion-filter__list {
    width: 80%;
  }

  .companion-filter__heading {
    margin-bottom: 0;
    padding-top: 7px;
    font-size: 20px;
    line-height: 20px;
    width: 20%;

    &::after {
      display: none;
    }
  }

  .companion-filter__level-range {
    margin-left: auto;
    margin-bottom: 0;
    order: 1;
  }

  .companion-filter__range {
    margin-left: 5px;
    width: 275px;
  }

  .companion-filter__button {
    padding-top: 16px;
    padding-bottom: 14px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .companion-filter {
    width: 285px;
    padding: 0;
  }

  .companion-filter__container {
    width: auto;
    padding: 0;
    margin: 0;
  }

  .companion-filter__body {
    width: 285px;
    padding: 46px 45px 48px 48px;
  }

  .companion-filter__wrapper {
    margin-bottom: 0;
  }

  .companion-filter__item {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;

    &:nth-child(2) {
      padding-top: 10px;
      border-top: none;
    }

    &:nth-child(5) {
      .companion-filter__heading {
        padding-top: 0;
        margin-bottom: 10px;
      }
    }

    &:nth-child(6) {
      padding-bottom: 41px;
      border-bottom: none;

      .companion-filter__heading {
        margin-bottom: 17px;
        padding-top: 0;
      }
    }

    &--hidden {
      .companion-filter__heading {
        margin-bottom: 0;
      }

      .companion-filter__list {
        display: none;
      }
    }
  }

  .companion-filter__title {
    margin-bottom: 23px;
  }

  .companion-filter__list {
    width: auto;
  }

  .companion-filter__heading {
    margin-bottom: 28px;
    width: auto;
    padding-top: 0;

    &::after {
      display: inline;
    }
  }

  .companion-filter__level-range {
    margin-bottom: 39px;
  }

  .companion-filter__range {
    margin-left: 0;
    width: 100%;
  }
}
