.companions {
  padding-top: 102px;
  padding-bottom: 31px;
  background-color: $blue-dark-main;
}

.companions__title {
  margin-bottom: 19px;
}

.companions__text {
  margin-bottom: 25px;
  color: $white-basic;
  font-weight: 300;

  &--bold {
    font-weight: 700;
    margin-bottom: 54px;
  }
}

.companions__list {
  @include list-reset;
  margin-bottom: 20px;
}

.companions__item {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }
}
