.companions {
  padding-top: 102px;
  padding-bottom: 31px;
  background-color: $blue-dark-main;
}

.companions__title {
  margin-bottom: 19px;
}

.companions__text {
  margin-bottom: 25px;
  color: $white-basic;
  font-weight: 300;

  &--bold {
    font-weight: 700;
    margin-bottom: 54px;
  }
}

.companions__list {
  @include list-reset;
  margin-bottom: 20px;
}

.companions__item {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .companions {
    padding-top: 208px;
    padding-bottom: 87px;
  }

  .companions__container {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .companions__title {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 55px;
    margin-left: 33px;
    margin-right: 33px;
  }

  .companions__text {
    grid-row: 2/3;
    grid-column: 1/3;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 39px;
    margin-left: 33px;
    margin-right: 33px;

    &--bold {
      margin-bottom: 59px;
      grid-row: 3/4;
      grid-column: 1/3;
    }
  }

  .companions__list {
    grid-row: 4/5;
    grid-column: 1/3;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 39px;
    margin-left: 33px;
    margin-right: 33px;
  }

  .companions__item {
    margin-right: 50px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  .companions__button {
    font-size: 24px;
    line-height: 24px;
    justify-content: flex-start;
    grid-row: 5/6;
    grid-column: 1/3;
    margin-left: 33px;
    margin-right: 33px;
  }
}

@media (min-width: $desktop-width) {
  .companions {
    padding-top: 231px;
    padding-bottom: 134px;
  }

  .companions__container {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .companions__title {
    grid-row: 1/2;
    grid-column: 1/2;
    margin-bottom: 55px;
    margin-left: 69px;
  }

  .companions__text {
    grid-row: 2/3;
    grid-column: 1/2;
    margin-bottom: 42px;
    margin-left: 69px;

    &--bold {
      margin-bottom: 85px;
      grid-row: 3/4;
      grid-column: 1/2;
    }
  }

  .companions__list {
    grid-row: 1/5;
    grid-column: 2/3;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .companions__item {
    margin-right: 60px;

    &:last-child {
      margin-right: 0;
    }
  }

  .companions__button {
    grid-row: 4/5;
    grid-column: 1/2;
    margin-left: 69px;
    max-width: 275px;
    font-size: 24px;
    line-height: 24px;
    padding: 28px 22px;
  }
}
