.companions {
  @include section-bottom-border;
  padding-top: 66px;
  padding-bottom: 31px;
  background-color: $blue-dark-main;
}

.companions__container {
  position: relative;
  padding-top: 34px;
  background-image: url("../img/rogovaya-back-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: -14px 298px;
  background-size: 71px 71px;
  border-radius: 5px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/rogovaya-back-mobile@2x.png");
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 113px;
    height: 132px;
    background-color: $blue-decor-items;
    border-radius: 20px;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 25px;
    width: 143px;
    height: 143px;
    background-image: url("../img/smolov-back-desktop@1x.png");
    background-size: 143px 143px;
    background-repeat: no-repeat;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/smolov-back-desktop@2x.png");
    }
  }
}

.companions__title {
  padding-left: 25px;
  margin-bottom: 19px;
}

.companions__text {
  margin-bottom: 20px;
  padding-left: 25px;
  width: 240px;
  font-weight: 300;
  color: $white-basic;

  br {
    display: none;
  }

  &--bold {
    margin-bottom: 56px;
    font-weight: 700;
  }
}

.companions__list {
  @include list-reset;
  margin-bottom: 20px;
}

.companions__item {
  margin-bottom: 9px;

  &:hover,
  &:focus {
    box-shadow: 0 4px 9px rgba($black-basic, 0.16);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .companions {
    padding-top: 135px;
    padding-bottom: 87px;
  }

  .companions__container {
    padding: 0 74px;
    padding-top: 70px;
    background-image: url("../img/smolov-back-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 40px 355px;
    background-size: 143px 143px;
    border-radius: 5px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/smolov-back-desktop@2x.png");
    }

    &::before {
      top: 0;
      left: 40px;
      width: 212px;
      height: 212px;
    }

    &::after {
      top: 11px;
      right: 75px;
      width: 285px;
      height: 285px;
      background-image: url("../img/rogovaya-back-desktop@1x.png");
      background-size: 285px 285px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/rogovaya-back-desktop@2x.png");
      }
    }
  }

  .companions__title {
    margin-bottom: 55px;
    padding-left: 0;
    font-size: 45px;
    line-height: 45px;
  }

  .companions__text {
    margin-bottom: 39px;
    padding-left: 0;
    width: 427px;
    font-size: 28px;
    line-height: 34px;

    br {
      display: block;
    }

    &--bold {
      width: 260px;
      font-size: 21px;
      line-height: 24px;
      margin-bottom: 62px;
    }
  }

  .companions__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 71px;
  }

  .companions__item {
    margin-right: 50px;
    margin-bottom: 10px;

    &:nth-child(2n+2) {
      margin-right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .companions {
    padding-top: 162px;
    padding-bottom: 120px;
  }

  .companions__container {
    display: grid;
    grid-template-columns: 620px auto;
    padding-top: 76px;
    padding-left: 130px;
    padding-right: 60px;
    background-position: 547px 78px;

    &::before {
      top: 13px;
      left: 60px;
    }

    &::after {
      top: 328px;
      left: 190px;
    }
  }

  .companions__title {
    grid-row: 1/2;
    grid-column: 1/2;
    margin-top: -7px;
    margin-bottom: 44px;
  }

  .companions__text {
    grid-row: 2/3;
    grid-column: 1/2;
    margin-bottom: 24px;

    &--bold {
      grid-row: 3/4;
      grid-column: 1/2;
      margin-bottom: 71px;
    }
  }

  .companions__list {
    grid-row: 1/5;
    grid-column: 2/3;
    margin: 0;
  }

  .companions__item {
    margin-right: 60px;

    &:last-child {
      margin-bottom: 10px;
    }
  }

  .companions__button {
    grid-row: 4/5;
    grid-column: 1/2;
    width: 280px;
    max-height: 80px;
  }
}
