.continents {
  @include list-reset;
  margin-bottom: 21px;
  font-weight: 700;
  line-height: 18px;
}

.continents__item {
  margin-bottom: 9px;
  text-transform: uppercase;
  color: rgba($blue-dark-main, 0.3);

  &--active {
    color: $blue-dark-main;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
