.continents {
  @include list-reset;
  font-weight: 700;
  line-height: 18px;
}

.continents__item {
  margin-bottom: 9px;
  text-transform: uppercase;
  color: rgba($blue-dark-main, 0.3);

  &--active {
    color: $blue-dark-main;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .continents {
    display: flex;
    flex-wrap: wrap;
  }

  .continents__item {
    margin-right: 28px;
    font-size: 20px;
    line-height: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .continents__item {
    margin-right: 32px;
  }
}
