.continents {
  @include list-reset;
  margin-left: 25px;
  font-weight: 700;
  line-height: 18px;
}

.continents__item {
  margin-bottom: 9px;

  .continents__link {
    text-transform: uppercase;
    color: rgba($blue-dark-main, 0.3);

    &:hover,
    &:focus {
      color: rgba($blue-dark-main, 0.6);
    }

    &:active {
      color: rgba($blue-dark-main, 1);
    }
  }

  &--active {
    .continents__link {
      color: $blue-dark-main;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .continents {
    display: flex;
    flex-wrap: wrap;
  }

  .continents__item {
    margin-bottom: 0;
    margin-right: 28px;
    font-size: 20px;
    line-height: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .continents__item {
    margin-right: 32px;
  }
}
