.countries {
  @include list-reset;
  margin-bottom: 27px;
}

.countries__item {
  margin-bottom: 10px;
}

.countries__item:last-child {
  margin-bottom: 0;
}

.countries__data {
  background-color: $white-basic;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.countries__name {
  margin: 0;
  color: $black-basic;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.countries__slogan {
  color: rgba($grey-special, 0.3);
  font-weight: 500;
  line-height: 18px;
}

.countries__likes {
  color: rgba($blue-dark-basic, 0.3);
  font-weight: 500;
  line-height: 20px;
}
