.country-filter {
  padding-bottom: 28px;
  background-color: $grey-decor;
}

.country-filter__inner {
  position: relative;

  &--expanded {
    padding: 40px 25px 0 25px;
  }
}

.country-filter__title {
  display: inline-block;
  padding-bottom: 18px;
  padding-left: 2px;
  margin-bottom: 15px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.country-filter__table {
  width: 100%;
}

.country-filter__button {
  padding: 12px 40px 10px;
  width: 100%;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: $blue-dark-main;
  background-color: $grey-close-button;
  border-radius: 20px;

  &--icon {
    position: absolute;
    top: 40px;
    right: 32px;
    width: 16px;
    height: 16px;
    padding: 0;
    background-color: transparent;
  }
}

@media (min-width: $desktop-width) {
  .country-filter {
    margin-bottom: 48px;
  }

  .country-filter__container {
    width: auto;
    padding: 0;
  }
}
