.countries {
  @include list-reset;
  margin-bottom: 27px;
}

.countries__item {
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    .countries__photo {
      transform: scale(1.1);
      transition: 1s ease-out transform;
    }
  }
}

.countries__photo {
  position: relative;
  width: 270px;
  height: 110px;
  z-index: 5;
}

.countries__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.countries__data {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  padding: 24px;
  margin-top: -10px;
  background-color: $white-basic;
  border-radius: 10px;
  z-index: 10;
}

.countries__flag {
  position: absolute;
  top: -12px;
  width: 35px;
  height: 24px;
}

.countries__info {
  width: 70%;
}

.countries__name {
  margin: 0;
  margin-bottom: 2px;
  color: $black-basic;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.countries__slogan {
  color: rgba($grey-special, 0.3);
  font-weight: 500;
  line-height: 18px;

  br {
    display: none;
  }
}

.countries__likes {
  position: relative;
  padding-left: 18px;
  color: rgba($blue-dark-basic, 0.3);
  font-weight: 500;
  line-height: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 2px;
    width: 11px;
    height: 12px;
    background-image: url("../img/user.svg");
    background-repeat: no-repeat;
    opacity: 0.1;
  }
}

@media (min-width: $tablet-width) {
  .countries {
    margin-bottom: 46px;
  }

  .countries__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    border-radius: 20px;
  }

  .countries__name {
    font-size: 24px;
    line-height: 24px;
  }

  .countries__slogan {
    font-size: 20px;
    line-height: 20px;

    br {
      display: block;
    }
  }

  .countries__likes {
    padding-left: 29px;
    font-size: 20px;

    &::before {
      top: 4px;
      left: 0;
      width: 18px;
      height: 20px;
    }
  }

  .countries__data {
    display: block;
    flex-grow: 1;
    margin-top: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .countries__flag {
    top: 17px;
    right: 0;
    width: 70px;
    height: 47px;
    transform: translateX(50%);
  }

  .countries__info {
    margin-bottom: 17px;
  }

  .countries__photo {
    width: 186px;
    height: 140px;
  }
}

@media (min-width: $desktop-width) {
  .countries {
    margin-bottom: 0;
  }

  .countries__item {
    &:last-child {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60%;
        background: linear-gradient(to top, $grey-basic, transparent 60%);
        pointer-events: none;
        z-index: 30;
      }
    }
  }

  .countries__info {
    margin-bottom: 23px;
  }

  .countries__data {
    padding-bottom: 21px;
  }
}
