.directions {
  padding-top: 101px;
  padding-bottom: 34px;
  background-color: $grey-basic;
}

.directions__title {
  margin-bottom: 19px;
}

.directions__text {
  margin-bottom: 60px;
  color: $grey-special;
  font-weight: 300;
}
