.directions {
  padding-top: 101px;
  padding-bottom: 34px;
  background-color: $grey-basic;
}

.directions__title {
  margin-bottom: 19px;
}

.directions__text {
  margin-bottom: 60px;
  color: $grey-special;
  font-weight: 300;
}

@media (min-width: $tablet-width) {
  .directions {
    padding-top: 149px;
    padding-bottom: 80px;
  }

  .directions__container {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .directions__title {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 57px;
    margin-left: 33px;
    margin-right: 33px;
  }

  .directions__text {
    grid-row: 2/3;
    grid-column: 1/3;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 104px;
    margin-left: 33px;
    margin-right: 33px;
  }

  .directions__list {
    grid-row: 3/4;
    grid-column: 1/3;
    margin-left: 33px;
    margin-right: 33px;
  }

  .directions__button {
    grid-row: 4/5;
    grid-column: 1/3;
    margin-left: 33px;
    margin-right: 33px;
  }
}

@media (min-width: $desktop-width) {
  .directions {
    padding-top: 249px;
    padding-bottom: 138px;
  }

  .directions__container {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .directions__title {
    grid-row: 1/2;
    grid-column: 2/3;
    margin-bottom: 58px;
    margin-left: 142px;
  }

  .directions__text {
    grid-row: 2/3;
    grid-column: 2/3;
    margin-bottom: 98px;
    margin-left: 142px;
  }

  .directions__list {
    grid-row: 1/4;
    grid-column: 1/2;
  }

  .directions__button {
    grid-row: 3/4;
    grid-column: 2/3;
    margin-left: 142px;
    max-width: 275px;
    font-size: 24px;
    line-height: 24px;
    padding: 28px 22px;
  }
}
