.dropdown {
  box-shadow: 0 2px 16px rgba(212, 217, 235, 0.25);
  border-radius: 4px;
  position: relative;
  width: 100%;
}

.dropdown__wrapper {
  width: 100%;
}

.dropdown__alphabet {
  width: 100%;
}

.dropdown__title {
  background-color: $blue-light-text;
  color: $white-basic;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 14px 17px;
  text-align: left;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.dropdown__button {
  position: absolute;
  top: 17px;
  right: 17px;
}

.dropdown__list {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .dropdown {
    min-width: 578px;
    display: flex;
    flex-wrap: wrap;
  }

  .dropdown__title {
    font-size: 20px;
    line-height: 20px;
    padding: 25px 24px;
    width: 64%;
  }

  .dropdown__wrapper {
    padding: 35px 80px 33px 27px;
    width: 64%;
  }

  .dropdown__list {
    width: 36%;
  }
}

@media (min-width: $desktop-width) {
  .dropdown {
    width: 730px;
  }

  .dropdown__title {
    width: 100%;
  }

  .dropdown__wrapper {
    width: 66%;
    padding: 19px 79px 36px 11px;
  }

  .dropdown__list {
    width: 34%;
  }
}
