.feedback {
  padding-top: 105px;
  padding-bottom: 29px;
  background-color: $blue-dark-main;
}

.feedback__title {
  margin-bottom: 19px;
  text-align: center;
}

.feedback__text {
  color: $white-basic;
  font-weight: 300;
  text-align: center;
  margin-bottom: 29px;
}

.feedback__text-link {
  color: $yellow-main;
  border-bottom: 0.5px solid $yellow-main;
  display: inline-block;
  line-height: 0.85;
}

.feedback__form {
  margin-bottom: 29px;
  position: relative;
}

.feedback__field {
  border: none;
  padding: 22px 141px 22px 25px;
  width: 220px;
}

.feedback__field::placeholder {
  color: rgba($grey-special, 0.3);
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.feedback__button {
  position: absolute;
  top: 0;
  right: 10px;
  width: 60px;
  height: 62px;
}

.feedback__auth-text {
  color: $white-basic;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}

.feedback__contacts {
  margin-left: 61px;
}

.feedback__link {
  display: block;
  color: $yellow-main;
  font-weight: 700;

  &--mail {
    text-transform: uppercase;
  }
}
