.feedback {
  @include section-bottom-border;
  padding-top: 105px;
  padding-bottom: 29px;
  background-color: $blue-dark-main;
}

.feedback__title {
  margin-bottom: 19px;
  text-align: center;
}

.feedback__text {
  margin-bottom: 29px;
  font-weight: 300;
  text-align: center;
  color: $white-basic;
}

.feedback__text-link {
  display: inline-block;
  line-height: 0.85;
  color: $yellow-main;
  border-bottom: 0.5px solid $yellow-main;
}

.feedback__form {
  position: relative;
  margin-bottom: 29px;
}

.feedback__field {
  padding: 22px 25px;
  width: 220px;
  height: 62px;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  &::placeholder {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: rgba($grey-special, 0.3);
  }
}

.feedback__button {
  position: absolute;
  top: 0;
  right: 10px;
  width: 60px;
  height: 62px;

  span {
    display: none;
  }
}

.feedback__auth-text {
  margin-bottom: 30px;
  font-weight: 300;
  text-align: center;
  color: $white-basic;
}

.feedback__link {
  position: relative;
  display: block;
  padding-left: 61px;
  font-weight: 700;
  text-transform: uppercase;
  color: $yellow-main;

  &::before {
    content: "";
    position: absolute;
    top: -12px;
    left: 0;
    width: 45px;
    height: 45px;
    background-color: $blue-dark-icon;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
  }

  &--tel {
    margin-bottom: 23px;

    &::before {
      background-image: url("../../img/contacts-phone.svg");
      background-size: 18px 17px;
    }
  }

  &--mail {
    &::before {
      background-image: url("../../img/contacts-mail.svg");
      background-size: 19px 13px;
    }
  }
}

@media (min-width: $tablet-width) {
  .feedback {
    padding-top: 133px;
    padding-bottom: 77px;
  }

  .feedback__container {
    padding: 0 76px;
  }

  .feedback__title {
    margin-bottom: 59px;
    font-size: 45px;
    line-height: 45px;
  }

  .feedback__text {
    margin-bottom: 65px;
    font-size: 28px;
    line-height: 32px;

    br {
      display: none;
    }

    .tablet {
      display: block;
    }
  }

  .feedback__form {
    margin-bottom: 60px;
  }

  .feedback__field {
    padding: 40px 36px;
    width: 536px;

    &::placeholder {
      font-size: 24px;
      line-height: 24px;
    }
  }

  .feedback__button {
    right: 0;
    padding: 40px 48px 40px 32px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .feedback__auth-text {
    margin-bottom: 64px;
    font-size: 28px;
    line-height: 30px;

    br {
      display: none;
    }
  }

  .feedback__link {
    padding-left: 90px;
    font-size: 28px;
    line-height: 28px;

    &::before {
      top: 50%;
      left: 0;
      width: 68px;
      height: 68px;
      transform: translateY(-50%);
    }

    &--tel {
      margin-bottom: 39px;

      &::before {
        background-image: url("../../img/contacts-phone.svg");
        background-size: 28px 26px;
      }
    }

    &--mail {
      &::before {
        background-image: url("../../img/contacts-mail.svg");
        background-size: 28px 19px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    padding-top: 208px;
    padding-bottom: 103px;
  }

  .feedback__container {
    padding: 0 133px;
  }

  .feedback__title {
    margin-bottom: 57px;
  }

  .feedback__text {
    margin-bottom: 60px;
  }

  .feedback__form {
    margin-bottom: 70px;
  }

  .feedback__field {
    padding: 41px 36px 40px 36px;
    width: 850px;

    &::placeholder {
      font-size: 24px;
      line-height: 24px;
    }
  }

  .feedback__button {
    padding: 41px 289px 40px 42px;

    span {
      display: inline;
    }
  }

  .feedback__auth-text {
    margin-bottom: 77px;
    font-size: 28px;
    line-height: 30px;
  }

  .feedback__contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .feedback__link {
    &--tel {
      margin-bottom: 0;
      margin-right: 110px;
    }
  }
}
