.feedback {
  @include section-bottom-border;
  padding-top: 104px;
  padding-bottom: 40px;
  background-color: $blue-dark-main;
}

.feedback__title {
  margin-bottom: 19px;
  text-align: center;
}

.feedback__text {
  margin: 0;
  margin-bottom: 31px;
  font-weight: 300;
  text-align: center;
  color: $white-basic;
}

.feedback__text-link {
  display: inline-block;
  line-height: 0.85;
  color: $yellow-main;
  border-bottom: 0.5px solid $yellow-main;

  &:hover,
  &:focus {
    color: $orange-special;
    border-bottom: 0.5px solid $orange-special;
  }

  &:active {
    opacity: 0.3;
  }
}

.feedback__form {
  position: relative;
  margin-bottom: 29px;
}

.feedback__field {
  padding: 15px 22px;
  width: 220px;
  height: 62px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: rgba($grey-special, 0.3);
  border: 4px solid transparent;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: none;

  &::placeholder {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: rgba($grey-special, 0.3);
  }

  &:hover {
    &::placeholder {
      color: rgba($grey-special, 0.5);
    }
  }

  &:focus,
  &:active {
    color: $white-basic;
    background-color: $blue-dark-main;
    border: 4px solid $white-basic;

    &::placeholder {
      color: $white-basic;
    }
  }

  &--error {
    color: $red-error;
    border: 4px solid transparent;

    &:focus,
    &:active {
      color: $red-error;
      background-color: $white-basic;
      border: 4px solid transparent;

      &::placeholder {
        color: $red-error;
      }
    }
  }
}

.feedback__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 62px;

  span {
    display: none;
  }
}

.feedback__auth-text {
  margin: 0;
  margin-bottom: 29px;
  font-weight: 300;
  text-align: center;
  color: $white-basic;
}

.feedback__link {
  position: relative;
  display: block;
  padding-left: 61px;
  font-weight: 700;
  text-transform: uppercase;
  color: $yellow-main;

  &:hover,
  &:focus {
    color: $yellow-dark;
  }

  &:active {
    color: rgba($yellow-main, 0.3);
  }

  &::before {
    content: "";
    position: absolute;
    top: -12px;
    left: 0;
    width: 45px;
    height: 45px;
    background-color: $blue-dark-icon;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
  }

  &--tel {
    margin-bottom: 23px;

    &::before {
      background-image: url("../img/contacts-phone.svg");
      background-size: 18px 17px;
    }

    &:hover,
    &:focus {
      &::before {
        background-image: url("../img/contacts-phone-hover.svg");
      }
    }

    &:active {
      &::before {
        background-image: url("../img/contacts-phone-active.svg");
      }
    }
  }

  &--mail {
    &::before {
      background-image: url("../img/contacts-mail.svg");
      background-size: 19px 13px;
    }

    &:hover,
    &:focus {
      &::before {
        background-image: url("../img/contacts-mail-hover.svg");
      }
    }

    &:active {
      &::before {
        background-image: url("../img/contacts-mail-active.svg");
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .feedback {
    padding-top: 130px;
    padding-bottom: 79px;
  }

  .feedback__container {
    padding: 0 76px;
  }

  .feedback__title {
    margin-bottom: 59px;
    font-size: 45px;
    line-height: 45px;
  }

  .feedback__text {
    margin-bottom: 68px;
    font-size: 28px;
    line-height: 32px;

    br {
      display: none;
    }

    .tablet {
      display: block;
    }
  }

  .feedback__form {
    margin-bottom: 58px;
  }

  .feedback__field {
    padding: 36px 36px;
    font-size: 24px;
    line-height: 24px;
    width: 536px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    &::placeholder {
      font-size: 24px;
      line-height: 24px;
    }

    &::-moz-placeholder {
      line-height: 5px;
    }
  }

  .feedback__button {
    right: 0;
    padding: 40px 48px 40px 32px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .feedback__auth-text {
    margin-left: 2px;
    margin-bottom: 64px;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 0.01em;

    br {
      display: none;
    }
  }

  .feedback__link {
    padding-left: 90px;
    font-size: 28px;
    line-height: 28px;

    &::before {
      top: 50%;
      left: 0;
      width: 68px;
      height: 68px;
      transform: translateY(-50%);
    }

    &--tel {
      margin-bottom: 39px;

      &::before {
        background-size: 28px 26px;
      }
    }

    &--mail {
      &::before {
        background-size: 28px 19px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    padding-top: 205px;
    padding-bottom: 134px;
  }

  .feedback__container {
    padding: 0 133px;
  }

  .feedback__title {
    margin-bottom: 57px;
  }

  .feedback__text {
    margin-bottom: 62px;
  }

  .feedback__form {
    margin-bottom: 70px;
  }

  .feedback__field {
    padding: 37px 36px 36px 36px;
    width: 850px;
  }

  .feedback__button {
    padding: 41px 288px 40px 36px;

    span {
      display: inline;
    }

    &::after {
      content: "";
      position: absolute;
      top: 33px;
      right: 37px;
      width: 14px;
      height: 16px;
      background-image: url("../img/triangle-arrow-right.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .feedback__auth-text {
    margin-bottom: 74px;
    font-size: 28px;
    line-height: 30px;
  }

  .feedback__contacts {
    display: flex;
    flex-wrap: wrap;
    margin-left: 154px;
  }

  .feedback__link {
    padding-left: 121px;

    &::before {
      width: 90px;
      height: 90px;
    }

    &--tel {
      margin-bottom: 0;
      margin-right: 110px;

      &::before {
        background-size: 36px 34px;
      }
    }

    &--mail {
      &::before {
        background-size: 37px 25px;
      }
    }
  }
}
