.filter-icon-checkbox {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.filter-icon-checkbox__item {
  margin-right: 2px;
  width: 32px;
  height: 32px;

  :last-child {
    margin-right: 0;
  }
}

.filter-icon-checkbox__label {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $white-basic;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  cursor: pointer;

  &--plane {
    background-image: url("../img/plane.svg");
  }

  &--car {
    background-image: url("../img/bus.svg");
  }

  &--cycle {
    background-image: url("../img/bike.svg");
  }

  &--walk {
    background-image: url("../img/run.svg");
  }
}

@media (min-width: $tablet-width) {
  .filter-icon-checkbox__item {
    margin-right: 2px;
    width: 43px;
    height: 43px;
  }

  .filter-icon-checkbox__label {
    width: 43px;
    height: 43px;
    background-size: 23px 22px;
  }
}
