.filter-checkbox {
  @include list-reset;
}

.filter-checkbox__label {
  position: relative;
  padding-left: 27px;
  font-size: 15px;
  line-height: 20px;
  color: $black-basic;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: $white-basic;
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.filter-checkbox__tag:checked + .filter-checkbox__label::before {
  background-image: url("../../img/right-filter-checkbox.svg");
}
