.flags {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.flags__item {
  width: 35px;
  height: 24px;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}
