.flip-controls {
  display: flex;
  flex-wrap: wrap;
}

.flip-controls__button {
  width: 135px;
  height: 51px;
  background: $white-basic url("../img/triangle-arrow-left.svg");
  background-repeat: no-repeat;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 1px solid $grey-basic;
  background-position: 50% center;

  &--next {
    transform: rotate(-180deg);
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .flip-controls__button {
    width: 13px;
    height: 20px;
    border: 0;
    background-position: center;
    margin-left: 29px;
  }
}
