.hashtags {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 188px;
  justify-content: center;
  margin-left: 5px;

  &--left {
    justify-content: flex-start;
    margin-bottom: 16px;
  }
}

.hashtags__item {
  color: $grey-special;
  line-height: 18px;
  text-align: center;
}
