.hashtags {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  width: 188px;
  justify-content: center;

  &--left {
    justify-content: flex-start;
  }
}

.hashtags__item {
  margin-right: 4px;
  color: $grey-special;
  line-height: 18px;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }
}

@media (min-width: $tablet-width) {
  .hashtags {
    font-size: 20px;
    line-height: 23px;
    width: 233px;
  }

  .hashtags__item {
    margin-right: 5px;
    margin-bottom: 6px;
  }
}
