.indicator {
  @include list-reset;
  position: absolute;
  top: 12px;
  right: 43px;
  display: flex;
  flex-wrap: wrap;

  &--inner {
    display: none;
  }
}

.indicator__item {
  margin-right: 16px;
  width: 5px;
  height: 5px;
  background-color: $blue-light-text;
  opacity: 0.3;
  border-radius: 50%;

  &--active {
    opacity: 1;
  }

  &:last-child {
    margin-right: 0;
  }
}

@media (min-width: $tablet-width) {
  .indicator {
    top: 15px;
    right: 73px;
  }

  .indicator__item {
    width: 6px;
    height: 6px;
    margin-right: 29px;
  }
}

@media (min-width: $desktop-width) {
  .indicator {
    display: none;

    &--inner {
      display: block;
      position: static;
      text-transform: uppercase;
      letter-spacing: 0.11em;

      .indicator__link {
        font-size: 20px;
        line-height: 24px;
        color: $black-basic;
      }

      .indicator__item {
        position: relative;
        margin-bottom: 19px;
        padding-left: 42px;
        width: auto;
        height: auto;
        background-color: transparent;
        opacity: 0.6;

        &--active {
          opacity: 1;
        }

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 6px;
          height: 6px;
          background-color: $blue-light-text;
          border-radius: 50%;
          transform: translateY(-50%);
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
