.indicator {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;

  &--inner {
    display: none;
  }
}

.indicator__item {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }
}

@media (min-width: $tablet-width) {
  .indicator__item {
    width: 6px;
    height: 6px;
    margin-right: 29px;
  }
}

@media (min-width: $desktop-width) {
  .indicator {
    display: none;

    &--inner {
      display: block;
      color: $black-basic;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;

      .indicator__item {
        margin-bottom: 27px;
      }
    }
  }
}
