.journey {
  @include list-reset;
  counter-reset: journey-counter;
}

.journey__item {
  counter-increment: journey-counter;
  position: relative;
  padding: 24px 25px;
  margin-bottom: 10px;
  background-color: $white-basic;
  border-radius: 10px;

  &::after {
    content: counter(journey-counter);
    position: absolute;
    top: 24px;
    left: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.journey__name {
  margin: 0;
  padding-left: 18px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}

.journey__fellow-number {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.journey__dates {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.journey__change {
  color: rgba($black-basic, 0.3);
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: rgba($black-basic, 0.6);
  }

  &:active {
    color: rgba($black-basic, 0.1);
  }
}

@media (min-width: $tablet-width) {
  .journey__item {
    padding: 40px 40px 14px 40px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 54px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba($grey-border, 0.3);
    }

    &::after {
      top: 43px;
      left: auto;
      right: 32px;
      font-size: 20px;
      line-height: 20px;
    }
  }

  .journey__options {
    display: flex;
    flex-wrap: wrap;
  }

  .journey__name {
    padding-left: 0;
    margin-bottom: 54px;
    font-size: 24px;
    line-height: 24px;
  }

  .journey__fellow-number {
    margin-bottom: 0;
    margin-right: auto;
    font-size: 20px;
    line-height: 20px;
  }

  .journey__dates {
    margin-bottom: 0;
    margin-right: 77px;
    font-size: 20px;
    line-height: 20px;
  }

  .journey__change {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .journey__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 36px 42px;

    &::before {
      display: none;
    }

    &::after {
      top: 39px;
      left: 43px;
      right: auto;
    }
  }

  .journey__name {
    width: 523px;
    padding-left: 52px;
    margin-bottom: 0;
    margin-right: 60px;
  }

  .journey__fellow-number {
    width: 145px;
    margin-right: 32px;
  }

  .journey__change {
    margin-left: auto;
  }
}
