.journey {
  @include list-reset;
}

.journey__item {
  padding: 24px 25px;
  margin-bottom: 10px;
  background-color: $white-basic;
  border-radius: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.journey__name {
  margin: 0;
  padding-left: 16px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}

.journey__fellow-number {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.journey__dates {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.journey__change {
  color: rgba($black-basic, 0.3);
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
