.level {
  position: relative;

  &--index {
    width: 56px;
    height: 56px;

    svg {
      width: 56px;
      height: 56px;
    }
  }

  &--form {
    width: 100px;
    height: 100px;
  }

  &--catalog {
    width: 46px;
    height: 46px;
  }
}

.level__text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  text-align: center;

  &--index {
    top: 8px;
    left: 15px;
  }

  &--form {
    top: 19px;
    left: 30px;
  }

  &--catalog {
    top: 11px;
    left: 11px;
  }
}

.level__number {
  position: relative;

  &::after {
    content: "";
    position: absolute;
  }

  &--form {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 38px;
    line-height: 38px;
    color: $blue-dark-basic;

    &::after {
      top: 39px;
      left: -5px;
      width: 51px;
      height: 1px;
      background-color: rgba($grey-special, 0.3);
    }
  }


  &--index {
    margin-bottom: 2px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: $white-basic;

    &::after {
      top: 24px;
      left: -2px;
      width: 30px;
      background-color: rgba($white-basic, 0.3);
    }
  }

  &--catalog {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 0;

    &::after {
      display: none;
    }
  }
}

.level__word {
  &--index {
    font-size: 14px;
    line-height: 14px;
    color: $white-basic;
  }

  &--form {
    font-size: 18px;
    line-height: 18px;
    color: $grey-special;
  }

  &--catalog {
    display: none;
  }
}

.level__graph {
  &--index {
    width: 56px;
    height: 56px;
  }

  &--form {
    width: 100px;
    height: 100px;
  }

  &--catalog {
    width: 46px;
    height: 46px;
  }
}

.level__background {
  fill: none;
  stroke-width: 3px;
  stroke: transparent;

  &--index {
    r: 26px;
    cx: 28px;
    cy: 28px;
    fill: rgba($black-basic, 0.6);
  }

  &--catalog {
    r: 21px;
    cx: 23px;
    cy: 23px;
  }
}

.level__progress {
  fill: none;
  stroke: $orange-special;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  animation: show-level 2s ease-in-out;

  &--form {
    stroke-width: 3px;
    stroke-dasharray: 288;
  }

  &--index {
    r: 26px;
    cx: 28px;
    cy: 28px;
    stroke-width: 4px;
    stroke-dasharray: calc(3.14 * 26 * 50 / 50), calc((2 * 3.14 * 26) - (3.14 * 26 * 50 / 50));  //3,14 - Число Пи, 26 - Радиус окружности, числитель в дроби - предполагаемый левел путешественника
  }

  &--catalog {
    r: 21px;
    cx: 23px;
    cy: 23px;
    stroke-width: 3px;
  }
}

@media (min-width: $tablet-width) {
  .level {
    &--form {
      width: 94px;
      height: 94px;

      svg {
        width: 94px;
        height: 94px;
      }
    }

    &--catalog {
      width: 46px;
      height: 46px;
    }
  }

  .level__text {
    &--form {
      left: 27px;
    }

    &--catalog {
      top: 11px;
      left: 11px;
    }
  }

  .level__number {
    &--catalog {
      &::after {
        content: "";
        position: absolute;
        top: 39px;
        left: -5px;
        width: 51px;
        height: 1px;
        background-color: rgba($grey-special, 0.3);
      }
    }
  }

  .level__word {
    &--form {
      display: block;
    }
  }

  .level__graph {
    &--catalog {
      width: 46px;
      height: 46px;
    }
  }

  .level__background {
    &--form {
      r: 42px;
      cx: 47px;
      cy: 47px;
    }

    &--catalog {
      r: 21px;
      cx: 23px;
      cy: 23px;
    }
  }

  .level__progress {
    &--form {
      r: 42px;
      cx: 47px;
      cy: 47px;
    }

    &--catalog {
      r: 21px;
      cx: 23px;
      cy: 23px;
    }
  }
}
