.level-range {
  display: flex;
  flex-wrap: wrap;
}

.level-range__input {
  color: $blue-light-text;
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  text-align: center;
  border: 1px solid $grey-border;
  padding: 13px 43px 8px 43px;
  width: 110px;
  margin-bottom: 21px;

  &--min {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &--max {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.level-range__input::-webkit-outer-spin-button,
.level-range__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
