.level {
  position: relative;

  &--index {
    width: 60px;
    height: 60px;

    svg {
      width: 60px;
      height: 60px;
    }
  }

  &--form {
    width: 100px;
    height: 100px;

    svg {
      width: 100px;
      height: 100px;
    }
  }

  &--catalog {
    width: 46px;
    height: 46px;
  }
}

.level__text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.level__number {
  position: relative;

  &::after {
    content: "";
    position: absolute;
  }

  &--form {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 38px;
    line-height: 38px;
    color: $blue-dark-basic;

    &::after {
      top: 39px;
      left: -5px;
      width: 51px;
      height: 1px;
      background-color: rgba($grey-special, 0.3);
    }
  }


  &--index {
    margin-bottom: 2px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: $white-basic;

    &::after {
      top: 24px;
      left: -2px;
      width: 30px;
      height: 1px;
      background-color: rgba($white-basic, 0.3);
    }
  }

  &--catalog {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 0;

    &::after {
      display: none;
    }
  }
}

.level__word {
  &--index {
    font-size: 14px;
    line-height: 14px;
    color: $white-basic;
  }

  &--form {
    font-size: 18px;
    line-height: 18px;
    color: $grey-special;
  }

  &--catalog {
    display: none;
  }
}

.level__background {
  fill: none;

  &--index {
    r: 30px;
    cx: 30px;
    cy: 30px;
    fill: rgba($black-basic, 0.6);
  }
}

.level__progress {
  fill: none;
  stroke: $orange-special;
  stroke-width: 3px;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: center;
  animation: stroke-dashoffset 2s ease-in-out;
  stroke-dasharray: 0 0;

  &--index {
    r: 28px;
    cx: 30px;
    cy: 30px;
    stroke-width: 4px;
  }
}

@media (min-width: $tablet-width) {
  .level {
    &--form {
      width: 94px;
      height: 94px;

      svg {
        width: 94px;
        height: 94px;
      }
    }

    &--catalog {
      width: 60px;
      height: 60px;

      svg {
        width: 60px;
        height: 60px;
      }
    }
  }

  .level__number {
    &--catalog {
      margin-bottom: 1px;

      &::after {
        display: inline;
        top: 23px;
        left: -2px;
        width: 31px;
        height: 1px;
        background-color: rgba($grey-special, 0.1);
      }
    }
  }

  .level__word {
    &--form {
      display: inline;
    }

    &--catalog {
      display: inline;
      font-size: 14px;
      line-height: 14px;
      color: rgba($black-basic, 0.4);
    }
  }

  .level__graph {
    &--catalog {
      width: 46px;
      height: 46px;
    }
  }

  .level__background {
    &--form {
      r: 42px;
      cx: 47px;
      cy: 47px;
    }

    &--catalog {
      r: 27px;
      cx: 30px;
      cy: 30px;
    }
  }

  .level__progress {
    &--index {
      r: 28px;
      cx: 30px;
      cy: 30px;
    }

    &--form {
      r: 42px;
      cx: 47px;
      cy: 47px;
    }

    &--catalog {
      r: 27px;
      cx: 30px;
      cy: 30px;
    }
  }
}

@media (min-width: $desktop-width) {
  .level__number {
    &--form {
      color: $white-basic;

      &::after {
        background-color: $white-basic;
      }
    }
  }

  .level__word {
    &--form {
      color: $white-basic;
    }
  }
}
