.likes__count {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: $blue-dark-basic;
  text-transform: uppercase;
}

.likes__button {
  position: absolute;
  top: 55px;
  left: 68px;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background-color: $grey-basic;

  path {
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    background: $grey-decor;

    path {
      opacity: 0.5;
    }
  }

  &:active {
    path {
      opacity: 0.1;
    }
  }

  &--liked {
    background-color: $orange-like-back;

    path {
      opacity: 1;
      fill-rule: nonzero;
      fill: $red-like;
    }

    &:hover,
    &:focus {
      background-color: $orange-like-back-hover;

      path {
        opacity: 1;
      }
    }

    &:active {
      path {
        opacity: 0.3;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .likes__count {
    font-size: 20px;
    line-height: 20px;
  }

  .likes__button {
    position: static;
    width: 50px;
    height: 50px;
  }


  .likes__icon {
    width: 20px;
    height: 20px;
  }
}
