.likes__count {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: $blue-dark-basic;
  text-transform: uppercase;
}

.likes__button {
  position: absolute;
  top: 55px;
  left: 68px;
  width: 31px;
  height: 31px;
  border-radius: 50%;

  &:hover {
    background: $grey-decor;
    svg {
      g {
        opacity: 0.6;
      }
    }
  }

  &:active {
    svg {
      g {
        opacity: 0.1;
      }
    }
  }

  &--liked {
    background-color: $orange-like-back;

    svg {
      fill: $red-like;

      g {
        opacity: 1;

        path {
          fill: $red-like;
        }
      }
    }

    &:hover {
      background: $orange-like-back-hover;

      svg {
        g {
          opacity: 1;
        }
      }
    }

    &:active {
      svg {
        g {
          opacity: 1;
        }
      }

      opacity: 0.6;
    }
  }
}

@media (min-width: $tablet-width) {
  .likes__count {
    font-size: 20px;
    line-height: 20px;
  }

  .likes__button {
    position: static;
    width: 50px;
    height: 50px;
  }
}
