.likes__count {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: $blue-dark-basic;
  text-transform: uppercase;
}

.likes__button {
  position: absolute;
  top: 55px;
  left: 68px;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background-color: $grey-basic;

  .likes__icon {
    &--active {
      display: none;
    }
  }

  &:hover,
  &:focus {
    background: $grey-decor;

    .likes__icon {
      g {
        opacity: 0.5;
      }
    }
  }

  &:active {
    .likes__icon {
      g {
        opacity: 0.1;
      }
    }
  }

  &--liked {
    background-color: $orange-like-back;

    .likes__icon {
      display: none;

      &--active {
        display: inline-block;
      }
    }

    &:hover,
    &:focus {
      background: $orange-like-back-hover;

      .likes__icon {
        g {
          opacity: 1;
        }
      }
    }

    &:active {
      .likes__icon {
        &--active {
          g {
            opacity: 0.3;
          }
        }
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .likes__count {
    font-size: 20px;
    line-height: 20px;
  }

  .likes__button {
    position: static;
    width: 50px;
    height: 50px;
  }


  .likes__icon {
    width: 20px;
    height: 20px;
  }
}
