.location {
  margin-top: -32px;
  background-color: $yellow-main;
  @include section-border;
}

.location__address {
  padding: 63px 25px 35px 25px;
  background-color: $yellow-main;
  @include section-border;
}

.location__text {
  position: relative;
  padding-left: 61px;
  margin-bottom: 32px;
  font-weight: 700;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    background-color: $blue-dark-icon;
    background-image: url("../../img/contacts-location.svg");
    background-size: 18px 17px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
  }
}

.location__route {
  display: inline-block;
  width: 100%;
  padding: 19px 22px;
  text-align: left;
  border: 3px solid $blue-dark-main;
}

.location__map {
  margin: 0 auto;
  margin-top: -52px;
  width: 320px;
  height: 424px;
  background-image: url("../../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media (min-width: $tablet-width) {
  .location {
    margin-top: -54px;
  }

  .location__address {
    padding: 124px 75px 84px 75px;
  }

  .location__text {
    margin-bottom: 62px;
    padding-left: 94px;
    font-size: 28px;
    line-height: 28px;

    &::before {
      top: 50%;
      left: 0;
      width: 68px;
      height: 68px;
      background-size: 32px 32px;
      transform: translateY(-50%);
    }

    br {
      display: none;
    }
  }

  .location__route {
    padding: 28px 22px;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
  }

  .location__map {
    width: 768px;
    height: 581px;
    background-image: url("../../img/map-tablet@1x.jpg");
  }
}

@media (min-width: $desktop-width) {
  .location {
    margin-top: -61px;
  }

  .location__address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 121px 135px 61px 283px;
    align-items: center;
  }

  .location__text {
    padding-left: 121px;
    margin-bottom: 0;
    margin-right: 147px;
  }

  .location__route {
    width: 324px;
    padding: 28px 22px;
  }

  .location__map {
    width: 1440px;
    height: 584px;
    background-image: url("../../img/map-desktop@1x.jpg");
  }
}
