.location {
  @include section-bottom-border;
  background-color: $yellow-main;
}

.location__address {
  @include section-bottom-border;
  position: relative;
  padding-top: 63px;
  padding-bottom: 35px;
  background-color: $yellow-main;
  z-index: $z-index-location-address;
}

.location__text {
  position: relative;
  padding-left: 61px;
  margin-bottom: 33px;
  font-weight: 700;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    background-color: $blue-dark-icon;
    background-image: url("../img/contacts-location.svg");
    background-size: 18px 17px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
  }
}

.location__route {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 22px;
  text-align: left;
  border: 3px solid $blue-dark-main;

  &::after {
    content: "";
    position: absolute;
    top: 22px;
    right: 19px;
    width: 12px;
    height: 12px;
    background-image: url("../img/triangle-arrow-right.svg");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover,
  &:focus {
    color: $white-basic;
    background-color: $blue-dark-main;

    &::after {
      background-image: url("../img/triangle-arrow-right-white.svg");
    }
  }

  &:active {
    color: rgba($white-basic, 0.3);

    &::after {
      opacity: 0.3;
    }
  }
}

.location__map {
  position: relative;
  margin-top: -52px;
  width: 100%;
  height: 424px;
  background-image: url("../img/map-mobile@1x.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: $z-index-location-map;

  iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .location__address {
    padding-top: 124px;
    padding-bottom: 84px;
  }

  .location__container {
    padding: 0 75px;
  }

  .location__text {
    margin-bottom: 62px;
    padding-left: 94px;
    font-size: 28px;
    line-height: 28px;

    &::before {
      top: 50%;
      left: 0;
      width: 68px;
      height: 68px;
      background-size: 32px 32px;
      transform: translateY(-50%);
    }

    br {
      display: none;
    }
  }

  .location__route {
    padding: 25px 33px;
    font-size: 24px;
    line-height: 24px;
    text-align: left;

    &::after {
      top: 34px;
      right: 33px;
    }
  }

  .location__map {
    height: 581px;
    background-image: url("../img/map-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }
}

@media (min-width: $desktop-width) {
  .location__address {
    padding-top: 121px;
    padding-bottom: 61px;
  }

  .location__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 283px;
    padding-right: 135px;
  }

  .location__text {
    padding-left: 121px;
    margin-bottom: 0;
    margin-right: 147px;

    &::before {
      top: 14px;
      width: 90px;
      height: 90px;
      background-size: 32px 42px;
    }
  }

  .location__route {
    width: 324px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 34px;
    padding-right: 47px;
  }

  .location__map {
    height: 584px;
    background-image: url("../img/map-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }
}
