.main-nav {
  padding-top: 76px;
}

@media (min-width: $tablet-width) {
  .main-nav {
    padding-top: 98px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
  }
}
