
.page-header {
  color: $white-basic;
  background-color: $blue-dark-basic;
  padding-top: 23px;
  padding-bottom: 12px;

  &--nojs {
  padding-top: 25px;
  padding-bottom: 41px;
  background-color: $white-basic;

    .page-header__user-list {
      display: flex;
      margin-bottom: 66px;
      width: 100%;
    }

    .page-header__contacts {
      display: block;
      margin-bottom: 53px;
    }

    .page-header__main-nav {
      display: block;
      margin-bottom: 51px;
      margin-top: 76px;
      width: 100%;
    }

    .page-header__logo {
      width: 100px;
    }

    .page-header__social {
      display: flex;
      width: 100%;
    }

    .page-header__toggle {
      display: none;
    }

    .page-header__title {
      display: none;
    }
  }

  &--opened {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 25px;
    padding-bottom: 41px;
    background-color: $white-basic;
    z-index: $z-index-page-header;

    .page-header__user-list {
      display: flex;
      margin-bottom: 66px;
      width: 100%;
    }

    .page-header__contacts {
      display: block;
      margin-bottom: 53px;
    }

    .page-header__main-nav {
      display: block;
      margin-bottom: 51px;
      margin-top: 74px;
      width: 100%;
    }

    .page-header__logo {
      width: 100px;
    }

    .page-header__social {
      display: flex;
      width: 100%;
    }

    .page-header__toggle {
      display: inline-flex;
      width: 19px;
      height: 19px;
      background-image: url("../../img/menu-close.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    .page-header__title {
      display: none;
    }
  }

  &--upper {
    @include section-bottom-border;
    z-index: $z-index-page-header-upper;
  }
}

.page-header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.page-header__logo {
  display: inline-flex;
  margin-right: auto;
  width: 96px;
  height: 15px;
}

.page-header__toggle {
  width: 25px;
  height: 11px;
  background-image: url("../../img/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.page-header__main-nav,
.page-header__user-list,
.page-header__contacts,
.page-header__social {
  display: none;
}

.page-header__title {
  position: relative;
  color: $white-basic;
  margin-top: 60px;

  &::after {
    content: "";
    position: absolute;
    bottom: -14px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: $orange-special;
    border-radius: 4px;
  }
}

.page-header__link {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    padding-top: 40px;
    background-color: $blue-dark;

    &--nojs {
      background-color: $white-basic;
      padding-top: 40px;
      padding-bottom: 91px;

      .page-header__logo {
        width: 166px;
        height: 42px;
        margin-bottom: 0;
        order: -3;
      }

      .page-header__main-nav {
        margin-top: 94px;
        margin-bottom: 169px;
        padding-left: 59px;
        width: auto;
      }

      .page-header__user-list {
        order: -1;
        margin-bottom: 0;
        margin-left: auto;
        width: auto;
      }

      .page-header__contacts {
        width: 100%;
        margin-bottom: 149px;
        padding-left: 59px;
      }

      .page-header__social {
        padding-left: 83px;
        width: auto;
      }
    }

    &--opened {
      background-color: $white-basic;
      padding-top: 40px;
      padding-bottom: 91px;

      .page-header__logo {
        width: 166px;
        height: 42px;
        margin-bottom: 0;
        order: -3;
      }

      .page-header__main-nav {
        margin-top: 94px;
        margin-bottom: 169px;
        padding-left: 59px;
      }

      .page-header__user-list {
        order: -1;
        width: auto;
        margin-bottom: 0;
        margin-left: auto;
      }

      .page-header__contacts {
        width: 100%;
        margin-bottom: 149px;
        padding-left: 59px;
      }

      .page-header__social {
        padding-left: 83px;
        width: auto;
      }

      .page-header__toggle {
        width: 22px;
        height: 22px;
      }
    }
  }

  .page-header__logo {
    width: 166px;
    height: 42px;
    margin-bottom: 0;
    order: -3;
  }

  .page-header__user-list {
    display: flex;
    margin-bottom: 0;
    margin-left: auto;
  }

  .page-header__toggle {
    order: -2;
  }

  .page-header__title {
    margin-top: 134px;
    margin-bottom: 54px;
    margin-left: 35px;
    font-size: 60px;
    line-height: 60px;

    &::after {
      bottom: -68px;
    }

    &--catalog {
      margin-bottom: 76px;

      &::after {
        bottom: -90px;
      }
    }
  }

  .page-header__link {
    display: block;
    position: relative;
    align-self: flex-end;
    margin-left: auto;
    margin-bottom: 85px;
    padding-right: 60px;
    color: $white-basic;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 32px;
      height: 16px;
      background-image: url("../../img/return.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding-top: 49px;
    padding-bottom: 12px;
    background-color: $blue-dark-basic;

    &--nojs {
      padding-top: 21px;
      background-color: $white-basic;

      .page-header__user-list {
        margin-bottom: 0;
        order: 0;
      }

      .page-header__main-nav {
        margin: 0;
        padding-left: 89px;

        a {
          color: $blue-dark-main;
        }

        &::before {
          width: 44px;
          background-color: $blue-dark-main;
        }
      }

      .page-header__contacts,
      .page-header__social {
        display: none;
      }

      .page-header__logo {
        width: 198px;
        height: 60px;
        margin-right: 58px;
      }
    }
  }

  .page-header__contacts,
  .page-header__social {
    display: none;
  }

  .page-header__main-nav {
    display: flex;
    position: relative;
    padding-left: 102px;

    a {
      color: $white-basic;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 60px;
      height: 2px;
      background-color: $white-basic;
      transform: translateY(-50%);
    }
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__logo {
    width: 200px;
    height: 52px;
    order: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 43px;
  }

  .page-header__contacts,
  .page-header__social {
    display: none;
  }

  .page-header__title {
    margin-left: 64px;
    margin-bottom: 56px;
    margin-top: 124px;

    &::after {
      bottom: -70px;
    }

    &--catalog {
      margin-bottom: 75px;

      &::after {
        bottom: -89px;
      }
    }
  }
}
