.page {
  box-sizing: border-box;
  height: 100%;
  font-family: "Blogger Sans", "Tahoma", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: $black-basic;
}

.page__body {
  min-width: 320px;
  min-height: 100%;
  height: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: flex-start;
}
