.page-main__container {
  background-color: $blue-dark;
  padding-top: 53px;
  padding-bottom: 15px;
}

.page-main__title {
  width: 320px;
  margin: 0 auto;
  padding: 0 25px;
  color: $white-basic;
}
