.plans {
  margin-top: -29px;
  padding-top: 28px;
  padding-bottom: 59px;
  background-color: $grey-dark-form;
  @include section-top-border
}

.plans__title {
  margin-bottom: 29px;
  color: $blue-light-text;
}

@media (min-width: $tablet-width) {
  .plans {
    margin-top: -30px;
    padding-top: 57px;
    padding-bottom: 118px;
  }

  .plans__title {
    font-size: 36px;
    line-height: 36px;
  }

  .plans__container {
    padding: 0 75px;
  }
}

@media (min-width: $desktop-width) {
  .plans {
    margin-top: -56px;
    padding-top: 54px;
    padding-bottom: 120px;
  }

  .plans__title {
    padding-bottom: 49px;
  }

  .plans__container {
    padding: 0 60px 0 124px;
  }
}
