.profile__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.profile__photo {
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 18px;
}

.profile__level {
  margin-right: 35px;
  margin-bottom: 18px;
}

.profile__tags {
  width: 100%;
  margin-bottom: 25px;
  position: relative;
}

.profile__transport {
  width: 100%;
}

.profile__button-wrap {
  width: 100%;
  margin-bottom: 33px;
}

.profile__button {
  background-color: $grey-dark-form;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  padding: 11px 10px;
}

@media (min-width: $tablet-width) {
  .profile__info {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    row-gap: 51px;
  }

  .profile__photo {
    width: 94px;
    height: 94px;
    margin-left: auto;
    margin-bottom: 0;
    grid-column: 3/4;
    border-radius: 10px;
  }

  .profile__level {
    margin-bottom: 0;
    grid-column: 1/2;
    margin-right: auto;
  }

  .profile__transport {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .profile__tags {
    grid-column: 1/4;
    margin-bottom: 0;
  }

  .profile__button-wrap {
    grid-column: 1/4;
    margin-bottom: 0;
  }

  .profile__button {
    border-radius: 10px;
    padding: 21px 10px;
  }
}

@media (min-width: $desktop-width) {
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0;
  }

  .profile__photo {
    width: 190px;
    height: 190px;
    margin-left: 0;
    margin-right: 95px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .profile__level {
    margin-left: auto;
    margin-right: 44px;
  }

  .profile__transport {
    width: 384px;
  }

  .profile__tags {
    width: 730px;
    margin-right: 140px;
  }

  .profile__button-wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 95px;
    margin-bottom: 27px;
  }

  .profile__button {
    width: 190px;
    padding: 14px 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    span {
      display: none;
    }
  }
}
