.promo {
  background-color: $blue-dark-basic;
  padding-bottom: 29px;
}

@media (min-width: $tablet-width) {
  .promo {
    padding-bottom: 211px;
  }
}

@media (min-width: $desktop-width) {
  .promo__container {
    display: flex;
    flex-wrap: wrap;
  }
}

.promo__slogan {
  width: 238px;
  color: $white-basic;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  margin: 0 auto 245px auto;
}

@media (min-width: $tablet-width) {
  .promo__slogan {
    width: 383px;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 86px;
  }
}

@media (min-width: $desktop-width) {
  .promo__slogan {
    width: 418px;
    text-align: left;
    margin: 0 548px 101px 67px;
  }
}

.promo__nav-list {
  @include list-reset;
  margin-bottom: 28px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

@media (min-width: $tablet-width) {
  .promo__nav-list {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .promo__nav-list {
    display: none;
  }
}

.promo__auth {
  padding: 5px 10px;
  display: block;
  color: $blue-dark-main;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  width: 190px;
  background-color: $yellow-main;
  border-radius: 25px;
}

.promo__nav-link {
  display: block;
  width: 40px;
  height: 40px;

  &--mail {
    background-image: url("../../img/icon-mail-btn.svg");
  }

  &--tel {
    background-image: url("../../img/icon-phone-btn.svg");
  }
}
