.promo {
  padding-bottom: 29px;
  background-color: $blue-dark-basic;
}

.promo__slogan {
  width: 238px;
  margin: 0 auto 245px auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: $white-basic;
}

@media (min-width: $tablet-width) {
  .promo {
    padding-top: 72px;
    padding-bottom: 96px;
  }

  .promo__slogan {
    width: 399px;
    font-size: 60px;
    line-height: 70px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    padding-bottom: 123px;
  }

  .promo__container {
    display: flex;
    flex-wrap: wrap;
  }

  .promo__slogan {
    width: 418px;
    margin: 99px 548px 101px 67px;
    text-align: left;
  }
}
