.promo {
  background-color: $blue-dark-basic;
  padding-bottom: 29px;
}

.promo__slogan {
  max-width: 238px;
  color: $white-basic;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 245px;
}
