.range {
  position: relative;
}

.range__scale {
  width: 100%;
  height: 2px;
  background-color: rgba($blue-light-text, 0.2);
}

.range__bar {
  height: 2px;
  background-color: $blue-light-text;
}

.range__toggle {
  position: absolute;
  top: -4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $blue-light-text;
  transform: translateX(-50%);
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    transform: scale(1.46) translateX(-35%);
    transition: all $transition-time-low ease-in-out;
  }

  &:active {
    box-shadow: 0 3px 7px rgba($black-basic, 0.24);
  }
}
