.result {
  padding-bottom: 75px;
  background-color: $grey-basic;
}

.result__list {
  @include list-reset;
  margin-bottom: 20px;
}

.result__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.result__button {
  width: 270px;
}
