.result {
  padding-bottom: 75px;
  background-color: $grey-basic;
}

.result__list {
  @include list-reset;
  margin-bottom: 20px;
}

.result__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.result__button {
  width: 270px;
}

@media (min-width: $desktop-width) {
  .result {
    width: 951px;
    margin-right: 84px;
  }

  .result__container {
    width: auto;
    padding: 0;
    margin: 0;
  }

  .result__item {
    width: 951px;
  }
}
