.review-quote {
  color: $white-basic;
  margin: 0;
  width: 161px;
}

.review-quote__text {
  font-weight: 300;
  margin-bottom: 17px;
}

.review-quote__author {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  font-style: normal;
}

@media (min-width: $tablet-width) {
  .review-quote {
    width: 264px;
    margin-left: 32px;
  }

  .review-quote__text {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 45px;
  }
}

@media (min-width: $tablet-width) {
  .review-quote {
    margin-left: 0;
    margin-right: 23px;
    margin-top: 111px;
  }

  .review-quote__author {
    font-size: 21px;
    line-height: 25px;
  }
}
