.socials {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.socials--colored .socials__item {
  margin-right: 0;
}

.socials__item {
  margin-right: 27px;

  &:last-child {
    margin-right: 0;
  }
}

@media (min-width: $tablet-width) {
  .socials {
    justify-content: flex-start;

    &--colored {
      justify-content: center;
    }
  }

  .socials__item {
    width: 62px;
    height: 62px;
  }
}

@media (min-width: $desktop-width) {
  .socials {
    display: none;

    &--colored {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
