.states {
  margin-left: 5px;
  padding-bottom: 12px;
}

.states__list {
  @include list-reset;
}

.states__item {
  margin-bottom: 12px;
  padding-left: 40px;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;

  &:last-child {
    margin-bottom: 0;
  }
}

.states__heading {
  display: inline-block;
  margin-bottom: 16px;
  font-size: 15px;
  line-height: 16px;
  color: $grey-special;
}

@media (min-width: $tablet-width) {
  .states__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .states__list {
    flex-direction: column;
  }

  .states__heading {
    display: none;
  }
}
