.states__list {
  @include list-reset;
}

.states__item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;

  &:last-child {
    margin-bottom: 0;
  }
}

.states__flag {
  width: 26px;
  height: 18px;
  margin-right: 14px;
  flex-shrink: 0;
}

@media (min-width: $tablet-width) {
  .states__list {
    display: flex;
    flex-wrap: wrap;
  }

  .states__item {
    margin-bottom: 0;
    margin-right: 25px;
    font-size: 20px;
    line-height: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  .states__flag {
    width: 35px;
    height: 24px;
    margin-right: 11px;

    img {
      width: 100%;
      height: auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .states__list {
    flex-direction: column;
  }

  .states__item {
    margin-bottom: 14px;
    margin-right: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
