.stay-period {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.stay-period__companions {
  margin-bottom: 20px;
}

.stay-period__accept-checkbox {
  margin-bottom: 28px;
}

.stay-period__duration {
  margin-bottom: 28px;
}

.stay-period__calendar {
  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .stay-period__companions {
    margin-bottom: 34px;
  }

  .stay-period__accept-checkbox {
    margin-bottom: 34px;
    order: 1;
  }

  .stay-period__duration {
    margin-bottom: 60px;
    order: 2;
  }

  .stay-period__calendar {
    margin-bottom: 47px;
    order: 3;
  }
}

@media (min-width: $desktop-width) {
  .stay-period {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .stay-period__companions {
    grid-column: 1/2;
  }

  .stay-period__accept-checkbox {
    grid-column: 2/3;
  }

  .stay-period__duration {
    grid-column: 1/2;
  }

  .stay-period__calendar {
    grid-column: 1/3;
    margin-bottom: 57px;
  }
}
