.steps {
  @include list-reset;
}

.steps__item {
  margin-bottom: 10px;
  padding: 24px 25px;
  background-color: $white-basic;
  border-radius: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.steps__title {
  margin-bottom: 16px;
}

.steps__description {
  color: $grey-special;
}

.steps__heading {
  margin-bottom: 21px;
}

.steps__content {
  margin-bottom: 22px;
}

.steps__button {
  width: 100%;

  &--back {
    margin-top: 13px;
    color: $blue-light-text;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
  }
}

@media (min-width: $tablet-width) {
  .steps__item {
    margin-bottom: 45px;
    padding: 48px 40px 54px 40px;
    border-radius: 30px;
  }

  .steps__title {
    margin-bottom: 34px;
    font-size: 36px;
    line-height: 36px;
  }

  .steps__description {
    width: 505px;
    font-size: 20px;
    line-height: 24px;
  }

  .steps__heading {
    margin-bottom: 34px;
  }

  .steps__content {
    margin-bottom: 48px;
  }

  .steps__button {
    justify-content: flex-start;
    width: 286px;
    padding: 29px 33px 27px 33px;
    font-size: 24px;
    line-height: 24px;
    text-transform: none;
    border-radius: 20px;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/triangle-arrow-right.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 14px;
      height: 16px;
    }

    &--forward {
      &::after {
        top: 33px;
        right: 37px;
      }
    }

    &--back {
      justify-content: flex-end;
      width: 247px;
      font-weight: 700;
      font-size: 24px;
      line-height: 22px;

      &::after {
        top: 31px;
        left: 27px;
        transform: rotate(180deg);
      }

      &:active {
        color: rgba($blue-light-text, 0.3);
      }
    }

    &:active {
      &::after {
        opacity: 0.3;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .steps__item {
    margin-bottom: 44px;
    padding: 100px 160px;
    border-radius: 60px;
  }

  .steps__heading {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-right: 47px;
    margin-bottom: 55px;
  }

  .steps__title {
    grid-column: 1/2;
    margin-bottom: 33px;

    br {
      display: none;
    }
  }

  .steps__description {
    grid-column: 1/2;
    width: 581px;
  }

  .steps__indicator {
    grid-column: 2/3;
    grid-row: 1/3;
    margin-left: auto;
  }

  .steps__content {
    margin-bottom: 57px;
  }

  .steps__button {
    margin-right: 462px;

    &--back {
      margin-right: 0;
    }
  }
}
