.steps {
  @include list-reset;
}

.steps__item {
  margin-bottom: 10px;
  padding: 24px 25px;
  background-color: $white-basic;
  border-radius: 10px;

  &--first-step {
    .steps__button {
      &--forward {
        margin-bottom: 0;
      }
    }
  }

  &--second-step {
    padding-top: 22px;
    padding-bottom: 12px;

    .steps__title {
      margin-bottom: 15px;
    }

    .steps__content {
      margin-bottom: 27px;
    }
  }

  &--third-step {
    padding-top: 19px;
    padding-bottom: 12px;

    .steps__button {
      &--forward {
        width: 230px;
        margin-left: -5px;
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.steps__title {
  margin-bottom: 16px;
}

.steps__description {
  color: $grey-special;
}

.steps__heading {
  margin-bottom: 21px;
}

.steps__content {
  margin-bottom: 19px;
}

.steps__button {
  width: 100%;

  &--forward {
    margin-bottom: 13px;
  }

  &--back {
    color: $blue-light-text;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
  }
}

@media (min-width: $tablet-width) {
  .steps__item {
    margin-bottom: 39px;
    padding: 48px 40px 54px 40px;
    border-radius: 30px;

    &--first-step {
      padding-top: 46px;
      padding-bottom: 56px;

      .steps__heading {
        margin-bottom: 40px;
      }

      .steps__content {
        margin-bottom: 46px;
      }

      .steps__button {
        padding-top: 27px;
        padding-bottom: 29px;
      }
    }

    &--second-step {
      padding-top: 45px;
      padding-left: 43px;
      margin-bottom: 51px;

      .steps__title {
        margin-bottom: 35px;
      }

      .steps__description {
        width: 443px;
      }

      .steps__content {
        margin-bottom: 46px;
      }
    }

    &--third-step {
      padding-top: 44px;
      padding-left: 44px;

      .steps__heading {
        margin-bottom: 35px;
      }

      .steps__button {
        &--forward {
          margin-left: 0;
          width: 285px;
        }
      }
    }
  }

  .steps__title {
    margin-bottom: 34px;
    font-size: 36px;
    line-height: 36px;
  }

  .steps__description {
    width: 505px;
    font-size: 20px;
    line-height: 24px;
  }

  .steps__heading {
    margin-bottom: 34px;
  }

  .steps__content {
    margin-bottom: 44px;
  }

  .steps__button {
    justify-content: flex-start;
    width: 284px;
    padding: 29px 55px 27px 33px;
    font-size: 24px;
    line-height: 24px;
    text-transform: none;
    border-radius: 20px;

    &::after {
      content: "";
      width: 14px;
      height: 16px;
      position: absolute;
      background-image: url("../img/triangle-arrow-right.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    &--forward {
      margin-bottom: 0;

      &::after {
        top: 33px;
        right: 35px;
      }
    }

    &--back {
      justify-content: flex-end;
      padding-right: 1px;
      padding-left: 78px;
      width: 243px;
      font-weight: 700;
      font-size: 24px;
      line-height: 22px;

      &::after {
        top: 34px;
        left: 60px;
        transform: rotate(180deg);
      }

      &:active {
        color: rgba($blue-light-text, 0.3);
      }
    }

    &:active {
      &::after {
        opacity: 0.3;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .steps__item {
    margin-bottom: 44px;
    padding: 100px 160px;
    border-radius: 60px;
  }

  .steps__heading {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-right: 47px;
    margin-bottom: 55px;
  }

  .steps__title {
    grid-column: 1/2;
    margin-bottom: 33px;

    br {
      display: none;
    }
  }

  .steps__description {
    grid-column: 1/2;
    width: 581px;
  }

  .steps__indicator {
    grid-column: 2/3;
    grid-row: 1/3;
    margin-left: auto;
  }

  .steps__content {
    margin-bottom: 57px;
  }

  .steps__button {
    margin-right: 462px;

    &--back {
      margin-right: 0;
    }
  }
}
