.tags {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 18px;
}

.tags__heading {
  position: absolute;
  top: -13px;
  left: 50%;
  padding: 6px 17px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $grey-basic;
  border-radius: 5px;
  transform: translateX(-50%);
}

.tags__text {
  resize: none;
  width: 100%;
  padding: 26px;
  line-height: 18px;
  color: $grey-special;
  border: 1px solid $grey-border;
  border-radius: 10px;
  background-color: $grey-basic;
  outline: none;

  ::placeholder {
    color: rgba($grey-special, 0.6);
  }

  &:hover {
    border-color: $grey-border-hover;
  }

  &:focus,
  &:active {
    border-color: $blue-dark-basic;
  }
}

@media (min-width: $tablet-width) {
  .tags__heading {
    padding: 4px 18px 9px 18px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
    transform: translate(-50%, 93px);
  }

  .tags__text {
    padding: 34px 40px 15px 40px;
    font-size: 20px;
    line-height: 22px;
  }
}

@media (min-width: $desktop-width) {
  .tags__heading {
    left: 22px;
    transform: translate(0, 95px);
  }
}
