.tags {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 18px;
}

.tags__heading {
  position: absolute;
  top: -13px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  text-transform: uppercase;
  padding: 6px 17px;
  background-color: $grey-basic;
}

.tags__text {
  resize: none;
  border: 1px solid $grey-border;
  border-radius: 10px;
  background-color: $grey-basic;
  color: rgba($grey-special, 0.6);
  line-height: 18px;
  padding: 26px;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .tags__heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    padding: 4px 18px 9px 18px;
    transform: translate(-50%, 91px);
  }

  .tags__text {
    font-size: 20px;
    line-height: 22px;
    padding: 30px 40px 20px 40px;
  }
}
