.tariffs {
  padding-top: 106px;
  padding-bottom: 38px;
  background-color: $grey-mobile;
}

.tariffs__title {
  margin-bottom: 56px;
}

.tariffs__list {
  @include list-reset;
  margin-bottom: 46px;
}

.tariffs__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 300;
  line-height: 16px;
  color: $grey-special;
}

.tariffs__service {
  margin-bottom: 6px;
}

.tariffs__link {
  font-weight: 700;
  line-height: 16px;
  color: $blue-light-business;
}

@media (min-width: $tablet-width) {
  .tariffs {
    padding-top: 135px;
    padding-bottom: 85px;
  }

  .tariffs__title {
    margin-bottom: 93px;
    font-size: 45px;
    line-height: 45px;
    text-align: center;
  }

  .tariffs__item {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 90px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 28px;
    line-height: 28px;
  }

  .tariffs__service {
    margin-bottom: 0;
  }

  .tariffs__link {
    padding-left: 90px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .tariffs {
    padding-top: 175px;
    padding-bottom: 187px;
  }

  .tariffs__title {
    margin-bottom: 153px;
  }

  .tariffs__item {
    padding-left: 90px;
    padding-top: 19px;
    padding-bottom: 19px;
    margin-left: 69px;
    margin-right: 73px;
  }

  .tariffs__link {
    margin-left: 69px;
    margin-right: 73px;
    padding-left: 90px;
  }
}
