.tariffs {
  @include section-bottom-border;
  padding-top: 52px;
  padding-bottom: 38px;
  background-color: $grey-basic;
}

.tariffs__container {
  position: relative;
  padding-left: 50px;
}

.tariffs__title {
  margin-bottom: 40px;
  width: 107px;
}

.tariffs__list {
  @include list-reset;
  position: relative;
  counter-reset: tariff-counter;
  margin-bottom: 29px;
  border-bottom: 1px solid $grey-lines;

  &::before {
    content: "";
    position: absolute;
    top: -131px;
    right: 0;
    width: 100px;
    height: 100px;
    background-image: url("../img/rates@1x.png");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/rates@2x.png");
    }
  }
}

.tariffs__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  counter-increment: tariff-counter;
  padding-top: 13px;
  padding-bottom: 15px;
  font-weight: 300;
  line-height: 16px;
  color: $grey-special;
  border-top: 1px solid $grey-lines;

  &::after {
    content: counter(tariff-counter);
    position: absolute;
    top: 7px;
    right: 0;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    color: $white-basic;
    font-size: 16px;
    line-height: 34px;
    text-align: center;
  }

  &:nth-child(3n+1) {
    &::after {
      background-color: $orange-special;
    }
  }

  &:nth-child(3n+2) {
    &::after {
      background-color: $yellow-dark;
    }
  }

  &:nth-child(3n+3) {
    &::after {
      background-color: $yellow-main;
    }
  }
}

.tariffs__service {
  margin-bottom: 6px;
}

.tariffs__link {
  display: block;
  font-weight: 700;
  line-height: 16px;
  color: $blue-light-business;

  &:hover,
  &:focus {
    color: rgba($blue-light-business, 0.7);
  }

  &:active {
    color: rgba($blue-light-business, 0.3);
  }
}

.tariffs__modal {
  display: none;
  position: absolute;
  top: -64px;
  left: 50%;
  width: 270px;
  background-color: $white-basic;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(29, 46, 91, 0.14);
  border-radius: 20px;
  z-index: 10;
  transform: translateX(-50%);

  &--opened {
    display: block;
  }
}

.tariffs__modal-wrapper {
  padding: 34px 25px;
}

.tariffs__modal-title {
  margin-bottom: 28px;
  text-align: center;
}

.tariffs__modal-list {
  @include list-reset;
  border-top: 1px solid rgba($black-basic, 0.05);
  border-bottom: 1px solid rgba($black-basic, 0.05);
}

.tariffs__modal-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 11px 0 10px 0;
  font-weight: 300;
  color: $grey-special;
  border-bottom: 1px solid rgba($black-basic, 0.05);

  &:last-child {
    border: none;
  }
}

.tariffs__modal-button {
  padding: 21px;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  color: $blue-light-text;
  text-transform: uppercase;
  background-color: $grey-tariffs;
  outline: none;

  &:hover,
  &:focus {
    background-color: $grey-basic;
  }

  &:active {
    color: rgba($blue-light-text, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .tariffs {
    padding-top: 130px;
    padding-bottom: 46px;
  }

  .tariffs__container {
    padding-left: 40px;

    &::before {
      top: auto;
      bottom: 0;
      right: 40px;
      transform: translateY(40%);
      z-index: -1;
    }
  }

  .tariffs__title {
    margin-bottom: 74px;
    width: auto;
    font-size: 45px;
    line-height: 45px;
    text-align: center;
  }

  .tariffs__list {
    margin-bottom: 56px;

    &::before {
      top: auto;
      bottom: -119px;
      right: 45px;
    }

    &::after {
      content: "";
      position: absolute;
      top: -41px;
      right: 0;
      width: 198px;
      min-height: 285px;
      border-radius: 20px;
      background-color: $grey-decor;
      z-index: -2;
    }
  }

  .tariffs__item {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 68px;
    padding: 20px 35px 19px 22px;
    font-size: 28px;
    line-height: 28px;

    &::after {
      top: 50%;
      left: -68px;
      width: 68px;
      height: 68px;
      font-size: 28px;
      line-height: 68px;
      transform: translateY(-50%);
    }
  }

  .tariffs__service {
    margin-bottom: 0;
    max-width: 60%;
  }

  .tariffs__link {
    position: relative;
    margin-bottom: 40px;
    padding-left: 90px;
    font-size: 20px;
    line-height: 20px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 68px;
      height: 68px;
      background-image: url("../img/business.svg");
      background-color: $grey-decor;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;
      transform: translateY(-50%);
    }

    &:hover,
    &:focus {
      &::before {
        background-image: url("../img/business-hover.svg");
      }
    }

    &:active {
      &::before {
        background-image: url("../img/business-active.svg");
      }
    }
  }

  .tariffs__modal {
    top: -74px;
    width: 688px;
    box-shadow: 0 4px 22px rgba(29, 46, 91, 0.18);
  }

  .tariffs__modal-wrapper {
    padding: 54px 93px 52px 90px;
  }

  .tariffs__modal-title {
    margin-bottom: 47px;
  }

  .tariffs__modal-item {
    flex-direction: row;
    justify-content: space-between;
    padding: 14px 0 13px 0;
    font-size: 22px;
    line-height: 27px;
  }

  .tariffs__modal-button {
    padding: 42px;
    font-size: 24px;
    line-height: 24px;
    text-transform: none;
  }
}

@media (min-width: $desktop-width) {
  .tariffs {
    padding-top: 171px;
    padding-bottom: 148px;
  }

  .tariffs__container {
    padding: 0 133px 0 130px;
  }

  .tariffs__title {
    margin-bottom: 134px;
  }

  .tariffs__list {
    margin-bottom: 57px;

    &::before {
      top: 51%;
      bottom: auto;
      right: 0;
      width: 198px;
      height: 198px;
      background-image: url("../img/rates-desktop.png");
      background-size: 198px;
      transform: translateY(-50%);

      @media (min-resolution: 2dppx) {
        background-image: url("../img/rates-desktop@2x.png");
      }
    }

    &::after {
      top: -51px;
      right: 111px;
      width: 446px;
      min-height: 300px;
    }
  }

  .tariffs__item {
    padding-left: 22px;
    padding-top: 19px;
    padding-bottom: 19px;
    width: 871px;
  }

  .tariffs__link {
    padding-left: 90px;
  }

  .tariffs__modal {
    top: -8px;
    width: 750px;
    transform: translateX(-48%);
  }
}
