.title {
  margin: 0;
  font-weight: 700;

  &--idx-medium {
    font-size: 24px;
    line-height: 24px;
    color: $orange-special;

    @media (min-width: $tablet-width) {
      font-size: 45px;
      line-height: 45px;
    }
  }

  &--form-small {
    font-size: 20px;
    line-height: 20px;

    @media (min-width: $tablet-width) {
      font-size: 36px;
      line-height: 36px;
    }

  }

  &--form-medium {
    font-size: 24px;
    line-height: 24px;

    @media (min-width: $tablet-width) {
      font-size: 36px;
      line-height: 36px;
    }
  }

  &--form-large {
    font-size: 36px;
    line-height: 36px;

    @media (min-width: $tablet-width) {
      font-size: 60px;
      line-height: 60px;
    }
  }


  &--small {
    font-size: 20px;
    line-height: 20px;
    color: $blue-light-text;
  }

  &--large {
    font-size: 30px;
    line-height: 30px;
  }

  &--larger {
    font-size: 36px;
    line-height: 36px;
  }

  &--largest {
    font-size: 45px;
    line-height: 45px;
  }
}
