.title {
  margin: 0;

  &--small {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: $blue-light-text;
  }

  &--idx-medium {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: $orange-special;

    @media (min-width: $tablet-width) {
      font-size: 45px;
      line-height: 45px;
    }
  }

  &--large {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
  }

  &--larger {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
  }

  &--largest {
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
  }
}
