.track__list {
  @include list-reset;
}

.track__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }

  .pick-button {
    position: relative;
    width: 168px;
    padding: 12px 10px;
    overflow: hidden;
    border: 1px solid $grey-border;
    border-radius: 4px;
    white-space: nowrap;

    &::after {
      content: "";
      position: absolute;
      bottom: 2px;
      right: 5px;
      width: 52px;
      height: 90%;
      text-align: right;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), white 30%);
      pointer-events: none;
    }

    &--choose {
      .pick-button {
        width: 220px;
        padding: 12px 10px;
        border: 1px solid $grey-border;
        border-radius: 4px;
      }
    }
  }
}

.track__button {
  justify-content: flex-start;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: $blue-light-text;
  text-transform: uppercase;
}

.track__flag {
  width: 52px;
  padding: 8px;
  border: 1px solid $grey-border;
  border-left: none;
  border-radius: 4px;
}

.track__flag img {
  display: block;
  margin: 0;
}

.add-button {
  min-width: 220px;
  padding: 12px 10px;
  border-radius: 4px;
  border: none;
  background-color: $grey-basic;
}

@media (min-width: $tablet-width) {
  .track_list {
    padding-top: 42px;
  }

  .track__item {
    .pick-button {
      justify-content: flex-start;
      width: 369px;
      margin-right: 52px;
      padding: 22px 10px 26px 10px;
      font-size: 20px;
      line-height: 20px;
    }

    &--choose {
      position: relative;
    }
  }

  .track__flag {
    width: 70px;
    height: 47px;
    padding: 0;
    margin-right: 25px;
    border: none;
  }

  .track__dropdown {
    position: absolute;
    top: 70px;
  }

  .add-button {
    justify-content: flex-start;
    width: 369px;
    padding: 22px 10px 26px 10px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .track_list {
    padding-top: 62px;
  }

  .track__item .pick-button {
    width: 730px;
    margin-right: 83px;
  }

  .track__flag {
    margin-right: 87px;
  }

  .add-button {
    width: 730px;
  }
}
