.transfer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.transfer__heading {
  font-weight: 700;
  line-height: 18px;
  margin: 0;
  padding: 6px 14px;
  background-color: $grey-basic;
  position: absolute;
  top: -20px;
}
