.transfer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transfer__heading {
  position: absolute;
  top: -13px;
  left: 50%;
  margin: 0;
  padding: 6px 14px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: $grey-basic;
  transform: translateX(-50%);
}

@media (min-width: $tablet-width) {
  .transfer__heading {
    padding: 4px 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    transform: translate(-50%, 91px);
  }
}
