.transport {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 230px;
  margin: 0 auto;

  &--rounded {
    justify-content: flex-start;
  }
}

.transport__item {
  width: 32px;
  height: 32px;
  margin-right: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}

.transport--rounded .transport__item {
  margin-right: 1px;
  background-color: $grey-basic;
  border-radius: 50%;
}
