.transport-checkbox {
  @include list-reset;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid $grey-border;
  border-radius: 10px;
  padding: 16px 50px 15px 50px;
}

.transport-checkbox__item {
  margin-right: 1px;

  &:last-child {
    margin-bottom: 0;
  }
}

.transport-checkbox__tag {
  visibility: hidden;
}

.transport-checkbox__label {
  display: inline-block;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $white-basic;

  &--plane {
    background-image: url("../../img/transport-icon-plane.svg");
  }

  &--car {
    background-image: url("../../img/transport-icon-bus.svg");
  }

  &--cycle {
    background-image: url("../../img/transport-icon-bicycle.svg");
  }

  &--walk {
    background-image: url("../../img/transport-icon-run.svg");
  }
}

@media (min-width: $tablet-width) {
  .transport-checkbox {
    padding: 25px;
  }

  .transport-checkbox__item {
    margin-right: 0;
  }

  .transport-checkbox__label {
    width: 43px;
    height: 43px;
  }
}
