.transport {
  &--rounded {
    .transport__list {
      justify-content: flex-start;
    }

    .transport__item {
      margin-right: 1px;
      width: 32px;
      height: 32px;
      text-align: center;
      background-color: $grey-basic;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;

      &:hover {
        .transport__tooltip-text {
          visibility: visible;
        }
      }
    }

    .transport__tooltip-text {
      top: auto;
      bottom: calc(100% + 10px);
      left: 70%;
      padding: 20px 20px 16px 20px;
      color: $white-basic;
      font-size: 20px;
      line-height: 20px;
      text-align: center;
      background-color: $blue-dark-transport;
      border-radius: 4px;
      z-index: 5;
      transform: translateX(-50%);
      box-shadow: none;

      &::after {
        content: " ";
        position: absolute;
        top: auto;
        bottom: -14px;
        left: 50%;
        border: 7px solid transparent;
        border-top: 7px solid $blue-dark-transport;
        transform: translateX(-70%);
      }

      &--plane {
        margin-left: 55px;

        &::after {
          left: 10%;
        }
      }
    }
  }
}

.transport__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.transport__item {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    .transport__tooltip-text {
      visibility: visible;
    }
  }

  &--active {
    path {
      opacity: 1;
    }
  }
}

.transport__tooltip-text {
  visibility: hidden;
  position: absolute;
  top: calc(100% + 6px);
  left: 50%;
  padding: 20px 20px 16px 20px;
  color: $white-basic;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  background-color: $blue-dark-transport;
  border-radius: 4px;
  z-index: 5;
  transform: translateX(-50%);
  box-shadow: 0 4px 9px rgba($white-basic, 0.16);

  &::after {
    content: " ";
    position: absolute;
    top: -14px;
    left: 50%;
    border: 7px solid transparent;
    border-bottom: 7px solid $blue-dark-transport;
    transform: translateX(-50%);
  }
}

@media (min-width: $tablet-width) {
  .transport {
    &--rounded {
      .transport__list {
        flex-direction: column;
        align-items: flex-end;
        width: auto;
        margin: 0;
      }

      .transport__item {
        margin-right: 0;
        width: 27px;
        height: 27px;
        background-color: transparent;
        border-radius: 0;
        margin-bottom: 7px;

        &:last-child {
          margin-bottom: 0;
        }

        .transport__tooltip-text {
          bottom: 50%;
          left: -6px;
          transform: translate(-100%, 50%);

          &::after {
            bottom: 50%;
            left: auto;
            right: -14px;
            border: 7px solid transparent;
            border-left: 7px solid $blue-dark-transport;
            transform: translateY(50%);
          }

          &--plane {
            margin-left: 0;

            &::after {
              left: auto;
            }
          }
        }
      }
    }
  }

  .transport__item {
    margin-right: 8px;
  }

  .transport__icon {
    &--plane {
      width: 23px;
      height: 22px;
    }

    &--car {
      width: 18px;
      height: 20px;
    }

    &--cycle {
      width: 25px;
      height: 25px;
    }

    &--walk {
      width: 24px;
      height: 24px;
    }
  }
}

@media (min-width: $desktop-width) {
  .transport {
    &--rounded {
      .transport__list {
        flex-direction: row;
      }

      .transport__item {
        margin-right: 7px;
        margin-bottom: 0;
        width: 25px;
        height: 25px;
        background-color: transparent;

        &:last-child {
          margin-right: 0;
        }

        .transport__tooltip-text {
          top: calc(100% + 6px);
          bottom: auto;
          left: 50%;
          transform: translate(-50%);

          &::after {
            top: -14px;
            bottom: auto;
            left: 50%;
            right: auto;
            border: 7px solid transparent;
            border-bottom: 7px solid $blue-dark-transport;
            transform: translateX(-50%);
          }

          &--plane {
            margin-left: 0;
          }
        }
      }

      .transport__icon {
        &--plane {
          width: 23px;
          height: 23px;
        }

        &--car {
          width: 20px;
          height: 20px;
        }

        &--cycle {
          width: 25px;
          height: 25px;
        }

        &--walk {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}
