.transport {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 230px;
  margin: 0 auto;

  &--rounded {
    justify-content: flex-start;
  }
}

.transport__item {
  margin-right: 13px;
  width: 32px;
  height: 32px;
}

.transport__item:last-child {
  margin-right: 0;
}

.transport--rounded .transport__item {
  background-color: $grey-basic;
  border-radius: 50%;
  margin-right: 1px;
}
