.traveller-settings {
  margin-top: -30px;
  padding-top: 54px;
  padding-bottom: 63px;
  background-color: $grey-basic;
}

@media (min-width: $tablet-width) {
  .traveller-settings {
    margin-top: -60px;
    padding-bottom: 89px;
    padding-top: 126px;
  }

  .traveller-settings__container {
    padding: 0 75px;
  }
}

@media (min-width: $desktop-width) {
  .traveller-settings {
    padding-bottom: 122px;
    padding-top: 129px;
  }

  .traveller-settings__container {
    padding: 0 60px 0 124px;
  }

  .traveller-settings__form {
    position: relative;
    margin-top: -259px;
    z-index: 110;
  }
}
