.traveller-profile {
  position: relative;
}

.traveller-profile__info {
  padding-top: 27px;
  padding-bottom: 20px;
  background-color: $white-basic;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.traveller-profile__name {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.traveller-profile__photo {
  display: block;
  margin: 0;
  border-radius: 10px;
}

.traveller-profile__level {
  position: absolute;
  top: 20px;
  left: 20px;
}
