.traveller-profile__info {
  background-color: $white-basic;
  padding-top: 27px;
  padding-bottom: 20px;
}

.traveller-profile__name {
  margin: 0;
  color: $blue-light-buttons;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

