.trip-input {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.trip-input__label {
  display: inline-block;
  margin-right: auto;
  margin-bottom: 8px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
}

.trip-input__unit {
  display: block;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  opacity: 0.3;
}

.trip-input__pick {
  position: relative;
  width: 100%;
  padding: 13px 90px 12px 90px;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  text-align: center;
  color: $blue-light-text;
  border: 1px solid $grey-border;
  border-radius: 4px;
}

.trip-input__pick::-webkit-outer-spin-button,
.trip-input__pick::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.trip-input__button {
  position: absolute;
  bottom: 0;
  width: 43px;
  height: 43px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  opacity: 0.3;

  &--less {
    left: 0;
    background-image: url("../../img/qty-minus-mobile.svg");
  }

  &--more {
    right: 0;
    background-image: url("../../img/qty-plus-mobile.svg");
  }
}

@media (min-width: $tablet-width) {
  .trip-input {
    padding-top: 25px;
    border-top: 1px solid $grey-lines;
  }

  .trip-input__unit {
    font-size: 20px;
    line-height: 18px;
  }

  .trip-input__label {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 18px;
  }

  .trip-input__pick {
    padding: 22px 90px;
    font-size: 20px;
    line-height: 20px;
  }

  .trip-input__button {
    width: 70px;
    height: 70px;
    background-size: 20px 20px;

    &--less {
      background-image: url("../../img/qty-minus.svg");
    }

    &--more {
      background-image: url("../../img/qty-plus.svg");
    }
  }
}

@media (min-width: $desktop-width) {
  .trip-input {
    align-items: center;
    padding-top: 56px;
    border-top: none;
  }

  .trip-input__pick {
    width: 180px;
    padding: 22px 70px;
  }

  .trip-input__unit {
    margin-left: 35px;
    opacity: 1;
    order: 1;
  }

  .trip-input__label {
    width: 164px;
    margin-bottom: 0;
    margin-right: 57px;
  }

  .trip-input__button {
    &--less {
      left: 222px;
    }

    &--more {
      left: 331px;
    }
  }
}
