.trip-input {
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
}

.trip-input__label {
  font-weight: 500;
  line-height: 16px;
  display: inline-block;
  margin-bottom: 8px;
}

.trip-input__pick {
  color: $blue-light-text;
  width: 100%;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  padding: 14px 90px;
  text-align: center;
  border: 1px solid $grey-border;
  border-radius: 4px;
}

.trip-input__pick::-webkit-outer-spin-button,
.trip-input__pick::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.trip-input__button {
  position: absolute;
  top: 27px;
  width: 46px;
  height: 46px;
  background-position: center center;
  background-repeat: no-repeat;

  &--less {
    left: 0;
    background-image: url("../../img/minus-icon.svg");
  }

  &--more {
    right: 0;
    background-image: url("../../img/plus-icon.svg");
  }
}
