.user-card {
  display: grid;
  grid-template-columns: 84px 84px 52px;
  padding: 15px 20px 23px 20px;
  background-color: $white-basic;
  border-radius: 20px;
}

.user-card__img {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
  margin-left: -2px;
}

.user-card__photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.user-card__heading {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 16px;
  color: $grey-special;
}

.user-card__name {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
  margin-bottom: 12px;
}

.user-card__likes {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
}

.user-card__tag-list {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
}

.user-card__states {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 3;
}

.user-card__transportation {
  grid-row-start: 4;
  grid-column-start: 1;
  grid-row-end: 5;
  grid-column-end: 3;
  margin-left: 5px;
}

.user-card__level {
  grid-row-start: 4;
  grid-column-start: 3;
  grid-row-end: 5;
  grid-column-end: 4;
}

.user-card__button {
  grid-row-start: 5;
  grid-column-start: 1;
  grid-row-end: 6;
  grid-column-end: 4;
}
