.user-navigation {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 53px;

  &--promo {
    flex-direction: row-reverse;
    margin-bottom: 28px;
    justify-content: center;
  }

  &--promo .user-navigation__link--auth {
    padding: 5px;
    width: 190px;
    margin-bottom: 0;
  }

  &--promo .user-navigation__item {
    margin: 0;
  }

  &--promo .user-navigation__link--tel {
    padding: 0;
    width: 40px;
    height: 40px;
    background-image: url("../../img/icon-phone-btn.svg");
    background-repeat: no-repeat;
    background-position: center;

    &::before {
      background-image: none;
    }
  }

  &--promo .user-navigation__link--mail {
    padding: 0;
    width: 40px;
    height: 40px;
    background-image: url("../../img/icon-mail-btn.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    &::before {
      background-image: none;
    }
  }
}

.user-navigation__item {
  &:nth-child(odd) {
    margin-bottom: 66px;
  }

  &:nth-child(even) {
    margin-bottom: 27px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.user-navigation__link {
  &--auth {
    padding: 10px;
    display: block;
    color: $blue-dark-main;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    background-color: $yellow-main;
    border-radius: 25px;
  }

  &--tel {
    padding-left: 61px;
    color: $blue-dark-main;
    font-weight: 700;
    line-height: 18px;
    position: relative;
    display: inline-block;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 45px;
      height: 45px;
      background-image: url("../../img/contacts-icon-phone.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  &--mail {
    padding-left: 61px;
    color: $blue-dark-main;
    font-weight: 700;
    line-height: 18px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 45px;
      height: 45px;
      background-image: url("../../img/contacts-icon-mail.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
}
