.user-list {
  @include list-reset;
  margin-bottom: 66px;

  &--promo {
    margin-bottom: 28px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;

    .user-list__auth {
      padding: 5px 10px;
      display: block;
      color: $blue-dark-main;
      font-weight: 700;
      font-size: 17px;
      line-height: 30px;
      text-align: center;
      text-transform: uppercase;
      width: 190px;
      background-color: $yellow-main;
      border-radius: 25px;
    }
  }
}

.user-list__item {
  &--promo {
    display: none;
  }
}

.user-list__auth {
  display: block;
  padding: 10px;
  color: $blue-dark-main;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  background-color: $yellow-main;
  border-radius: 25px;
}

.user-list__mail {
  display: block;
  width: 40px;
  height: 40px;
  background-color: $yellow-dark;
  background-image: url("../../img/topmenu-mail.svg");
  background-size: 18px 16px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.user-list__tel {
  display: block;
  width: 40px;
  height: 40px;
  background-color: $orange-special;
  background-image: url("../../img/topmenu-phone.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .user-list {
    position: absolute;
    top: 40px;
    right: 40px;

    &--promo {
      display: none;
    }
  }

  .user-list__auth {
    width: 188px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }

  .user-list__item {
    &--promo {
      display: block;
    }
  }
}
