.user-navigation {
  @include list-reset;
  margin-bottom: 66px;
}

@media (min-width: $tablet-width) {
  .user-navigation {
    position: absolute;
    top: 40px;
    right: 40px;
  }
}

.user-navigation__auth {
  display: block;
  width: 100%;
  padding: 10px;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $blue-dark-main;
  background-color: $yellow-main;
  border-radius: 25px;
}

@media (min-width: $tablet-width) {
  .user-navigation__auth {
    width: 188px;
  }
}
