.user-list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  &--promo {
    margin-bottom: 28px;
    flex-direction: row-reverse;

    .user-list__link {
      &--auth {
        padding: 5px 10px;
        display: block;
        color: $blue-dark-main;
        font-weight: 700;
        font-size: 17px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        width: 190px;
        background-color: $yellow-main;
        border-radius: 25px;
      }
    }
  }
}

.user-list__item {
  &--promo {
    display: none;
  }
}

.user-list__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  &--tel {
    background-color: $orange-special;

    &:hover,
    &:focus {
      background-color: $orange-hover;
    }

    &:active {
      svg {
        opacity: 0.3;
      }
    }
  }

  &--mail {
    background-color: $yellow-dark;

    &:hover,
    &:focus {
      background-color: $orange-special;
    }

    &:active {
      svg {
        opacity: 0.3;
      }
    }
  }

  &--auth {
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 7px;
    padding-right: 10px;
    color: $blue-dark-basic;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    background-color: $yellow-main;
    border-radius: 25px;
    height: auto;

    &:hover,
    &:focus {
      background-color: $yellow-dark;
    }

    &:active {
      color: rgba($blue-dark-basic, 0.3);
    }
  }
}

@media (min-width: $tablet-width) {
  .user-list {
    flex-direction: row-reverse;

    &--promo {
      display: none;
    }
  }

  .user-list__link {
    &--auth {
      width: 188px;
      padding: 15px 10px;
      font-size: 20px;
      line-height: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    display: flex;
    flex-wrap: wrap;

    &--promo {
      display: none;
    }
  }

  .user-list__item {
    &--promo {
      display: block;

      .user-list__link {
        width: 50px;
        height: 50px;
      }
    }
  }
}
