.location__map {
  position: relative;
  z-index: 5;
}

.location__address {
  position: relative;
  z-index: 7;
}

.location {
  position: relative;
  z-index: 10;
}

.feedback {
  position: relative;
  z-index: 20;
}

.page-footer {
  position: relative;
  z-index: 20;
}

.tariffs {
  position: relative;
  z-index: 30;
}

.companions {
  position: relative;
  z-index: 40;
}

.directions {
  position: relative;
  z-index: 50;
}

.about-service {
  position: relative;
  z-index: 60;
}

.page-header {
  &--opened {
    z-index: 100;
  }
}
