// light

@font-face {
  font-family: "Blogger Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/bloggersans-light.woff2") format("woff2"),
  url("../../fonts/bloggersans-light.woff") format("woff");
  font-display: swap;
}

// regular

@font-face {
  font-family: "Blogger Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/bloggersans.woff2") format("woff2"),
  url("../../fonts/bloggersans.woff") format("woff");
  font-display: swap;
}

// medium

@font-face {
  font-family: "Blogger Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/bloggersans-medium.woff2") format("woff2"),
  url("../../fonts/bloggersans-medium.woff") format("woff");
  font-display: swap;
}

// bold

@font-face {
  font-family: "Blogger Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/bloggersans-bold.woff2") format("woff2"),
  url("../../fonts/bloggersans-bold.woff") format("woff");
  font-display: swap;
}
