$tablet-width: 768px;
$desktop-width: 1440px;


// black&white

$white-basic: #ffffff;
$black-basic: #000000;

// blue

$blue-dark-main: #192144;
$blue-dark: #182044;
$blue-dark-icon: #121936;
$blue-dark-transport: #101d41;
$blue-dark-basic: #161c35;
$blue-decor-items: #141b3b;
$blue-light-text: #1d2e5b;
$blue-light-business: #132576;

// grey

$grey-basic: #edeff6;
$grey-basic-form:  #e5e5e5;
$grey-dark-form: #dfe3f0;
$grey-darken-form: #d4d9eb;
$grey-mobile: #e6e8f1;
$grey-decor: #e2e5f2;
$grey-special: #444444;
$grey-border: #cbced9;
$grey-like: #f9eaea;
$grey-lines: #e1e3e9;
$grey-calendar: #d6d9e6;
$grey-close-button: #d6daed;
$grey-common: #cccccc;

// yellow-red

$yellow-main: #ffd74b;
$yellow-dark: #ffbd30;
$yellow-darken: #ffa530;
$yellow-dark-border: #f3c72b;
$orange-special: #ff8d30;
$orange-cell: #ff5c23;
$orange-indicator: #f97676;
$red-like: #f02323;

//section-radiuses

$mobile-radius: 30px;
$tablet-radius: 60px;
