$tablet-width: 768px;
$desktop-width: 1440px;


// black&white

$white-basic: #ffffff;
$black-basic: #000000;

// blue

$blue-dark-main: #192144;
$blue-dark: #182044;
$blue-dark-icon: #121936;
$blue-dark-transport: #101D41;
$blue-dark-basic: #161C35;
$blue-decor-items: #141B3B;
$blue-light-buttons: #1D2E5B;
$blue-light-business: #132576;

// grey

$grey-basic: #EDEFF6;
$grey-basic-form:  #E5E5E5;
$grey-dark-form: #DFE3F0;
$grey-darken-form: #D4D9EB;
$grey-mobile: #E6E8F1;
$grey-decor: #E2E5F2;
$grey-special: #444444;
$grey-border: #CBCED9;
$grey-like: #F9EAEA;

// yellow-red

$yellow-main: #FFD74B;
$yellow-dark: #FFBD30;
$yellow-darken: #FFA530;
$orange-special: #FF8D30;
$orange-indicator: #F97676;
$red-like: #F02323;

