$tablet-width: 768px;
$desktop-width: 1440px;


// black&white

$white-basic: #ffffff;
$black-basic: #000000;

// blue

$blue-dark-main: #192144;
$blue-dark: #182044;
$blue-dark-icon: #121936;
$blue-dark-transport: #101d41;
$blue-dark-basic: #161c35;
$blue-decor-items: #141b3b;
$blue-light-text: #1d2e5b;
$blue-light-business: #132576;

// grey

$grey-basic: #edeff6;
$grey-basic-form:  #e5e5e5;
$grey-dark-form: #dfe3f0;
$grey-darken-form: #d4d9eb;
$grey-mobile: #e6e8f1;
$grey-decor: #e2e5f2;
$grey-special: #444444;
$grey-border: #cbced9;
$grey-border-hover: #aeb4cb;
$grey-like: #f9eaea;
$grey-lines: #e1e3e9;
$grey-calendar: #d6d9e6;
$grey-close-button: #d6daed;
$grey-common: #cccccc;
$grey-tariffs: #f3f4f8;
$grey-copyright-decor: #f2f2f2;
$grey-hover: #c8cee8;
$grey-profile: #d1d7e9;
$grey-input-hover: #959bb2;
$grey-qty-btn-hover: #999999;
$grey-checkbox-icon: #d9d9d9;
$grey-checkbox-icon-hover: #b2b2b2;


// yellow-red

$yellow-main: #ffd74b;
$yellow-dark: #ffbd30;
$yellow-darken: #ffa530;
$yellow-dark-border: #f3c72b;
$orange-special: #ff8d30;
$orange-cell: #ff5c23;
$orange-hover: #f26926;
$orange-indicator: #f97676;
$orange-alert: #ffefef;
$orange-like-back: #f9eaea;
$orange-like-back-hover: #f9d8d8;
$red-like: #f02323;
$red-error: #ff0000;

// green

$green-online: #bbf085;

//section-radiuses

$mobile-radius: 30px;
$tablet-radius: 60px;

//transition-time

$transition-time: 300ms;
$transition-time-low: 100ms;
