// general

@import "../sass/general/normalize.scss";
@import "../sass/general/fonts.scss";
@import "../sass/general/variables.scss";
@import "../sass/general/mixin.scss";
@import "../sass/general/global.scss";

// blocks
@import "../sass/blocks/button.scss";
@import "..//sass/blocks/container.scss";
@import "../sass/blocks/title.scss";
@import "../sass/blocks/socials.scss";
@import "../sass/blocks/about-service.scss";
@import "../sass/blocks/accept-checkbox.scss";
@import "../sass/blocks/action-order.scss";
@import "../sass/blocks/add-plan.scss";
@import "../sass/blocks/alphabet.scss";
@import "../sass/blocks/calendar.scss";
@import "../sass/blocks/companion-filter.scss";
@import "../sass/blocks/companions.scss";
@import "../sass/blocks/contact-navigation.scss";
@import "../sass/blocks/continents.scss";
@import "../sass/blocks/countries.scss";
@import "../sass/blocks/country-filter.scss";
@import "../sass/blocks/directions.scss";
@import "../sass/blocks/dropdown.scss";
@import "../sass/blocks/feedback.scss";
@import "../sass/blocks/filter-checkbox.scss";
@import "../sass/blocks/filter-icon-checkbox.scss";
@import "../sass/blocks/flags.scss";
@import "../sass/blocks/hashtags.scss";
@import "../sass/blocks/journey.scss";
@import "../sass/blocks/level-range.scss";
@import "../sass/blocks/level.scss";
@import "../sass/blocks/likes.scss";
@import "../sass/blocks/location.scss";
@import "../sass/blocks/main-nav.scss";
@import "../sass/blocks/page.scss";
@import "../sass/blocks/page-footer.scss";
@import "../sass/blocks/page-header.scss";
@import "../sass/blocks/page-main.scss";
@import "../sass/blocks/pagination.scss";
@import "../sass/blocks/plans.scss";
@import "../sass/blocks/profile.scss";
@import "../sass/blocks/promo.scss";
@import "../sass/blocks/range.scss";
@import "../sass/blocks/result-controls.scss";
@import "../sass/blocks/result.scss";
@import "../sass/blocks/review-quote.scss";
@import "../sass/blocks/route.scss";
@import "../sass/blocks/site-navigation.scss";
@import "../sass/blocks/state-names.scss";
@import "../sass/blocks/states.scss";
@import "../sass/blocks/steps.scss";
@import "../sass/blocks/tags.scss";
@import "../sass/blocks/tariffs.scss";
@import "../sass/blocks/track.scss";
@import "../sass/blocks/transfer.scss";
@import "../sass/blocks/transport-checkbox.scss";
@import "../sass/blocks/transport.scss";
@import "../sass/blocks/traveller-profile.scss";
@import "../sass/blocks/traveller-settings.scss";
@import "../sass/blocks/trip-input.scss";
@import "../sass/blocks/user-card.scss";
@import "../sass/blocks/user-list.scss";
@import "../sass/blocks/visually-hidden.scss";
